<div class="teams-overzicht">
    <div class="tabs-teams">
        <ul class="tab-links">
            {% for division in teams|keys %}
                {% if teams[division] %}
                    <li {% if loop.first %} class="active" {% endif %}><a href="#tab-{{ division }}">{{ division }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for division in teams|keys %}
                {% if teams[division] %}
                    <div id="tab-{{ division }}" class="team-division tab {% if loop.first %} active {% endif %}" data-teamdivision="{{ division }}">
                        {% for team in teams[division] %}
                            <div class="team" data-teamnumber="{{ team.team_number }}">
                                <div class="team-number">{{ team.team_number }}</div>
                                {% include "teams/partials/trainercoach.twig" %}
                                <div class="team-members">
                                    <ul class="team-dames player-list">
                                        <span class="gender">{{ strings.teams.gender_female }}</span>
                                        {% for player in team.dames %}
                                            <li class="player">{{ player.player }}</li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="team-heren player-list">
                                        <span class="gender">{{ strings.teams.gender_male }}</span>
                                        {% for player in team.heren %}
                                            <li class="player">{{ player.player }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


