{{ strings.byline }} <address class="author">
    <a href="{{ post.author.link }}">{{ post.author }}</a>
</address> |
<time class="pubdate" datetime="{{ post.post_date|date("c") }}">
    {{ post.date }}
</time>
