<figure class="featured-image {% if post.thumbnail.width < 800 %} preserve-size {% endif %}">
    <img
            class="__img"
            src="{{ post.thumbnail.src }}"
            alt="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"
    >
    {% if post.thumbnail.caption %}
        <figcaption class="figcaption">
            <cite>{{ post.thumbnail.caption|default('No caption given') }}</cite>
        </figcaption>
    {% endif %}
</figure>