<ul class="__labels">
    {% for label in post.get_field('labels') %}
        {% if label.primary %}
                <li class="label"><a href=""><span>{{ label.name }}</span></a></li>
        {% endif %}
    {% endfor %}
</ul>