{# Facebook #}
<a target="_blank"
   href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}"
   class="share-btn __facebook">
    <span><i class="fa fa-facebook __icon"></i> {{ strings.social.platform.facebook.name}}</span>
</a>

{# Twitter #}
<a class="share-btn __twitter"
   target="_blank"
   href="https://twitter.com/share?url={{ post.link }}&via=nikantes&hashtags=nikantes,korfbal&text={{ post.title }}">
    <span><i class="fa fa-twitter __icon"></i> {{ strings.social.platform.twitter.name}}</span>
</a>