{% for item in menu %}
    {% if item.get_children %}
        <li class="item {{ item.classes | join(' ') }} has-children">
            <input type="checkbox" name="{{- item.title -}}" id="{{- item.title -}}_{{- item.id -}}">
            <label for="{{- item.title -}}_{{- item.id -}}" class="submenu-label">{{- item.title -}}</label>
            <ul class="submenu">
                {% include "navigation/child-menu.twig" with {'menu': item.get_children} %}
            </ul>
        </li>
    {% else %}
        <li class="item {{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}" class="menu-item-link">
                {{- item.title -}}
            </a>
        </li>
    {% endif %}

{% endfor %}
