<div class="contact-nav-wrapper">
    <div class="social-wrapper">
        <div class="__info-link --social"><a href="{{ strings.social.platform.facebook.link }}"><i class="fab fa-facebook-f"></i></a></div>
        <div class="__info-link --social"><a href="{{ strings.social.platform.twitter.link }}"><i class="fab fa-twitter"></i></a></div>
        <div class="__info-link --social"><a href="{{ strings.social.platform.instagram.link }}"><i class="fab fa-instagram"></i></a></div>
    </div>
    <div class="__info-link"><a href="{{ site.url }}/over-nikantes/contact/"><i class="fas fa-map-marked-alt"></i>Locatie</a></div>
    <div class="__info-link"><a href="{{ site.url }}/over-nikantes/organisatie/"><i class="fas fa-phone"></i>Contact</a></div>
</div>