{% if menu %}
    <ul class="nav-items menu animate">
        {% for parent in menu.items %} {# for each PARENT item#}
            {% if parent.children == true %} {# if PARENT menu has a submenu#}
                <li class="item has-children parent-item" tabindex="{{ parent.id }}">
                    <a href="#" class="menu-item-link" tabindex="{{ parent.id }}">{{- parent.title -}}</a>
                    <div class="submenu">
                        <div class="submenu-wrapper">
                            {% for item in parent.children %}

                                {% if item.is_category %}
                                    <div class="menu-category">
                                        <span class="__title">{{ item.title }}</span>
                                        {% if item.children %}
                                            <ul class="category-items">
                                                {% for item in item.children %}
                                                    <a href="{{ item.url }}" class="menu-item-link">
                                                        <div class="item">
                                                            {{- item.title -}}
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <a href="{{ item.url }}" class="menu-item-link">
                                        <div class="item">
                                            {{- item.title -}}
                                        </div>
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% else %} {# if PARENT has no submenu #}
                <li class="item parent-item">
                    <a href="{{ parent.url }}" class="menu-item-link">
                        {{- parent.title -}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}