{% for category in menu %}
    <div class="menu-category">
        <span>{{ category.title }}</span>
        {% if category.items %}
            <ul class="category-items">
                {% for item in category.items %}
                <li class="item">
                    <a href="{{ item.postpagina }}" class="menu-item-link">
                        {{- item.text -}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}
