<ul class="__items">
    <li class="__item">
        <div class="quick-nav-link qn--trainings">
            <i class="fa fa-clock-o"></i>
            <span class="__title">Trainingstijden</span>
        </div>
    </li>
    <li class="__item">
        <a href="{{ strings.agenda.full }}" class="quick-nav-link qn--calendar">
            <i class="fa fa-calendar"></i>
            <span class="__title">Agenda</span>
        </a>
    </li>
    <li class="__item">
        <a href="{{ strings.footer.sporthall_link }}" class="quick-nav-link qn--contact">
            <i class="fa fa-map-marker"></i>
            <span class="__title">Adres</span>
        </a>
    </li>
</ul>