<div class="l-wrapper">
    <div class="social__section-title --basic-section-title">
        <h2>{{ strings.social.section.title }}</h2>
    </div>
    <div class="__content">
        <ul class="social-items">
            <li class="__item">
                <a href="{{ strings.social.platform.facebook.link}}" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </div>
                    <div class="icon-description">
                        <h3>{{ strings.social.platform.facebook.name }}</h3>
                        <div class="icon-description-text">
                            {{ strings.social.section.fb_cta }}
                        </div>
                    </div>
                </a>
            </li>
            <li class="__item">
                <a href="{{ strings.social.platform.twitter.link}}" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-twitter fa-2x"></i>
                    </div>
                    <div class="icon-description">
                        <h3>{{ strings.social.platform.twitter.name }}</h3>
                        <div class="icon-description-text">
                            {{ strings.social.section.tw_cta }}
                        </div>
                    </div>
                </a>
            </li>
            <li class="__item">
                <a href="{{ strings.social.platform.instagram.link}}" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-instagram fa-2x"></i>
                    </div>
                    <div class="icon-description">
                        <h3>{{ strings.social.platform.instagram.name }}</h3>
                        <div class="icon-description-text">
                            {{ strings.social.section.insta_cta }}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
