{% extends 'base.twig' %}

{% block content %}
    {% include 'archive/archive-menu.twig' %}

    <section class="river-news flex-section archive-river">
        {% include 'archive/archive-river.twig' %}
    </section>

{% endblock %}

{% block head %}
    <meta property="og:title" content="Nieuwsarchief Sportvereniging Nikantes"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ strings.club.description }}" />
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ site.link }}"/>
{% endblock %}