{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <div class="author-page">
            <section class="profile-info">
                <img src="{{ Image(author.avatar.src) }}" alt="author avatar" class="author-avatar">
                <h2 class="author-name">{{ author.user_nicename }}</h2>
                <ul class="profile-info-meta">
                    <li>geregistreerd <em>{{ author.user_registered|date("d F, Y") }}</em></li>
                    <li>berichten <em>{{ posts|length }}</em></li>
                    <li>reacties <em>{{ comments|length }}</em></li>
                </ul>
            </section>
            <section class="profile-activity">
                <h3 class="profile-activity-tab">
                    Recente activiteit
                </h3>
                <div class="profile-activities">
                    {% for item in activities %}

                        <div class="activity {% if item.comment_date %}comment{% elseif item.post_date %}post{% endif %}">
                            <div class="__header">
                                <h6 class="__header-h6">
                                    {% if item.comment_date %}
                                        Reactie
                                    {% elseif item.post_date %}
                                        Bericht
                                    {% endif %}
                                </h6>
                            </div>
                            <div class="activity-wrapper">
                                {% if item.comment_date %}
                                    <a href="{{ TimberPost(item.comment_post_ID).link }}">{{ item.comment_content }}</a>
                                {% elseif item.post_date %}
                                    <a href="{{ item.link }}">{{ item.post_title }}</a>
                                {% endif %}
                                <div class="__time-since">
                                    {% set difference = date(item.creation_date).diff(date('now')) %}
                                    {% set leftDays = difference.days %}
                                    {% if  leftDays != 0 and difference.m == 0 %}
                                        {{ leftDays }} dagen geleden
                                    {% elseif difference.m >=1 %}
                                        {{ difference.m }} maanden geleden
                                    {% else %}
                                        ongeveer {{ difference.h }} uur geleden
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}




{#{% block content %}#}
	{#{% for post in posts %}#}
		{#{% include ["tease-"~post.post_type~".twig", "tease.twig"] %}#}
	{#{% endfor %}#}
{#{% endblock %}#}