{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<div id="nav-mobile-menu" class="nav-mobile-wrapper">
    <div class="nav-mobile-logo">
        <img class="logo-img" src="{{ site.theme.link }}/assets/images/logo-nikantes.svg" alt="Logo Nikantes">
    </div>
    <div class="contact-nav">
        {% include "navigation/contact-nav.twig" %}
    </div>
    <nav class="nav-mobile">
        {% include "menu.twig" with {'menu': menu.get_items} %}
    </nav>
</div>
<div id="panel" class="panel panel-wrapper">
    <header class="header">
        <div class="contact-nav">
            {% include "navigation/contact-nav.twig" %}
        </div>
        <div class="top-row">
            <div class="nav-icon nav-toggle-wrapper nav-toggle" title="menu-toggle">
                <div class="nav-icon-middle-line"></div>
            </div>
            <a href="{{ site.url }}" class="logo global-header-logo" title="Sportvereniging Nikantes">
                <h1 class="h1-title">
                    <span>Sportvereniging Nikantes</span>
                    <img class="logo-img" src="{{ site.theme.link }}/assets/images/logo-nikantes.svg" alt="Logo Nikantes">
                </h1>
            </a>
            <img src="{{ site.theme.link }}/assets/images/sportplus_logo_white.png" alt="" class="sportplus_logo">
            <nav class="nav-desktop">
                {% include "navigation/desktop-menu.twig" with {'menu': menu} %}
            </nav>
        </div>
        <div class="quick-nav">
            {% include "navigation/quick-nav.twig" %}
        </div>
    </header>

    <main id="content" role="main" class="content-wrapper">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    {% block footer %}
        <footer id="footer" class="footer">
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
    {% endblock %}
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/assets/js/slideout.min.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/assets/js/accordion-nav.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/assets/js/app.js"></script>
{% block scripts %}

{% endblock %}
</html>
