<div class="footer-wrapper">
    <div class="__section-logo">
        <a href="/" rel="nofollow" class="__logo-link">
            {#<img class="logo-img" src="{{ site.theme.link }}/assets/images/logo-nikantes.png" alt="Logo Nikantes">#}
            {{ source('/assets/images/logo-nikantes2.svg') }}
            <span class="hidden-text">{{ strings.club.name }}</span>
        </a>
    </div>
    <div class="__section-links">
        <ul class="u-list-dot-sep">
            <li><a href="/">{{ strings.club.name }}</a></li>
            <li><a href="https://www.facebook.com/Nikantes/">{{ strings.social.platform.facebook.name }}</a></li>
            <li><a href="https://twitter.com/nikantes">{{ strings.social.platform.twitter.name }}</a></li>
        </ul>
    </div>
    <div class="__section-location">
        <h6>{{ strings.footer.location_title }}</h6>
        <ul>
            <li>{{ strings.club.location.outside.address }}</li>
            <li>{{ strings.club.location.outside.name }}</li>
            <li>{{ strings.club.location.outside.zip_code ~ " " ~ strings.club.location.outside.city }}</li>
        </ul>
        <div class="looking-for">
            {{ strings.footer.looking_for_inside_location }}
            <a href="{{ strings.footer.sporthall_link }}" class="sporthal-location">
                {{ strings.footer.address_text ~" "~ strings.club.location.inside.name }}
            </a>
        </div>
    </div>
</div>
<div class="__section-copyright">
    <div class="c-line">
        {{
            "© " ~
            copyright_year ~ " " ~
            strings.copyright.developer.company ~ ". " ~
            strings.copyright.rights_reserved

        }}
    </div>
</div>