<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}"/>
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115928601-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115928601-1');
    </script>

    <meta name="description" content="{{ strings.club.description }}">
    <meta property="og:site_name" content="Nikantes"/>
    <meta property="og:locale" content="nl_NL"/>
    <meta property="fb:app_id" content="{{ strings.application.facebook.app_id }}" />


    {# Import Google Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet" media="screen"/>

    {# Import Font Awesome CDN #}
    <script src="https://kit.fontawesome.com/fcc958c7f0.js" async></script>

    {# Custom CSS #}
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css?bluefotografie_cache" type="text/css" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}"/>
    <link rel="shortcut icon" href="{{ site.theme.link }}/assets/images/favicon.ico" />
    <link rel="manifest" href="{{ site.theme.link }}/manifest.webmanifest">
    {{ function('wp_head') }}
