{% extends 'base.twig' %}

{% block content %}
    <section class="quick-info flex-section">
        {% include 'quick-info/quick-info.twig' %}
    </section>

    <section class="showcase-news showcase-wrapper flex-section">
        {% include 'showcase/showcase.twig' %}
    </section>

    <section class="mini-blokken flex-section">
        {% include 'mini-blokken/mini-blokken.twig' %}
    </section>

    <section class="pinned-content flex-section">
        {% include 'pinned-content/pinned-content.twig' %}
    </section>

    <section class="river-news flex-section">
        {% include 'river/river.twig' %}
    </section>

    <section class="sponsors flex-section">
        {% include 'sponsors/sponsors.twig' %}
    </section>

    <section class="social flex-section">
        {% include 'social/social.twig' %}
    </section>
{% endblock %}

{% block head %}
    <meta property="og:title" content="Sportvereniging Nikantes"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ strings.club.description }}" />
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ site.link }}"/>
{% endblock %}