{% if menu %}
    <ul class="nav-items menu cd-accordion-menu animate">
        {% for item in menu %}
            {% if item.get_children %}
                <li class="item {{ item.classes | join(' ') }} has-children parent-item">
                    <input type="checkbox" name="{{- item.title -}}" id="{{- item.title -}}">
                    <label for="{{- item.title -}}">{{- item.title -}}</label>
                    <ul class="submenu">
                        {% include "navigation/child-menu.twig" with {'menu': item.get_children} %}
                    </ul>
                </li>
            {% else %}
                <li class="item {{ item.classes | join(' ') }} parent-item">
                    <a href="{{ item.get_link }}" class="menu-item-link">
                        {{- item.title -}}
                    </a>
                </li>
            {% endif %}

        {% endfor %}
    </ul>
{% endif %}