{% extends "base.twig" %}
{% set elementor = function('is_elementor') %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }} default-page" id="post-{{ post.ID }}">
            <section class="page-content">
                <div class="page-h1-wrapper">
                    <div class="h1-group-header">
                        <h1 class="page-h1">{{ post.title }}</h1>
                    </div>
                </div>
                <div class="page-body">
                    {{ post.content }}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/jquery.fancybox.css" type="text/css" media="screen"/>

    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.title }}"/>
    <meta property="og:type" content="article"/>
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ post.link }}"/>
{% endblock %}

{% block scripts %}
{% if elementor is same as(false) %}
    <script type="text/javascript" src="{{ site.theme.link }}/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="{{ site.theme.link }}/assets/js/fancybox-options.js"></script>
{% endif %}
{% endblock %}