{% extends "base.twig" %}

{% if post.subtitle %}
    {% set og_description = post.subtitle %}
{% else %}
    {% set og_description = post.content|striptags|slice(0,160) %}
{% endif %}

{% block content %}
    <div class="l-wrapper">
        <article class="article article-single">
            <div class="article-hero">
                <div class="article-hero-wrapper">
                    {% include 'article/article-hero.twig' %}
                </div>
            </div>
            <div class="article-main">
                {% if post.thumbnail %}
                    {% include 'article/partials/featured-image.twig' %}
                {% endif %}
                <div class="__content">
                    <div class="article-content-wrapper">
                        {% filter shortcodes %}
                            {{ post.content }}
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/jquery.fancybox.css" type="text/css" media="screen"/>

    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ og_description }}"/>
    <meta property="og:type" content="article"/>
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ post.link }}"/>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ site.theme.link }}/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="{{ site.theme.link }}/assets/js/fancybox-options.js"></script>
{% endblock %}