<div class="showcase-news-content">
    {% if posts %}
    {% for p in posts|slice(0,5) %}

        {# Sets the post_format in a var [default, link, attachment] #}
        {% set post_format = "default" %}
        {% if p.format == "link" %}
            {% set post_format = "link" %}
        {% endif %}
        {% if p.format == "link" and p.get_field('attachment') is not null %}
            {% set post_format = "attachment" %}
        {% endif %}

        {# Sets the post_link according to the post_format #}
        {% set post_link = p.link %}
        {% if post_format == "default" %}
            {% set post_link = p.link %}
        {% elseif post_format == "link" %}
            {% set post_link = p.link_url %}
        {% elseif post_format == "attachment" %}
            {% set post_link = p.get_field('attachment').url %}
        {% else %}
            {% set post_link = p.link %}
        {% endif %}

    <div id="post-{{ p.ID }}"
         class="post entry-box entry-box__article post-format-{{ p.format | default('default') }}">
        {% include 'showcase/partials/thumbnail.twig' %}
        <div class="article-body">
            {% if p.get_field('labels') %}
                {% include 'showcase/partials/labels.twig' %}
            {% endif %}
            {% include 'showcase/partials/title.twig' %}
            {% include 'showcase/partials/excerpt.twig' %}
            {% include 'showcase/partials/byline.twig' %}
        </div>
    </div>

    {% endfor %}
    {% endif %}
</div>
