<div class="trainercoaches">
    <div class="__title">{{ strings.teams.trainercoach }}</div>

    {% if team.trainercoach %}
        {% for coach in team.trainercoach %}
            <div class="coach">
                {{ coach.name }}
            </div>
        {% endfor %}
        {% else %}
        <div class="coach no-coach">
            {{ strings.teams.no_coach }}
        </div>
    {% endif %}
</div>