{% if organisaties %}
    {% for org in organisaties %}
        <div class="org-team">
            <div class="title-row">
                <h3 class="__title">{{ org.title }}</h3>
                <div class="__email">
                    <a href="mailto:{{ org.email }}" class="--mailto" title="Verstuur email">
                        {{ org.email }}
                    </a>
                </div>
            </div>
            <ul class="org-members">
                {% for m in org.members %}
                    <li class="member">
                        <div class="__name --cell">{{ m.name }}</div>
                        <div class="__task --cell">{{ m.task }}</div>
                        <div class="__phone --cell">{{ m.phone }}</div>
                        <div class="__email --cell">
                            <a href="mailto:{{ m.email }}" class="--mailto" title="Verstuur email">
                                {{ m.email }}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}