{% include "views/quick-info/partials/trainingstijden-adjustments.twig" %}

    {% if trainingstijden_options.toggle_trainings == true %}
        <div class="trainings-disabled">
            {{ trainingstijden_options.all_trainings_disabled_announcement|default("Alle trainingen zijn uitgeschakeld.") }}
        </div>
    {% else %}
        <div class="default-trainings">
            {% for day in trainingstijden %}

                <div class="training-day">
                    <div class="day-name">{{ day.day_name }}</div>

                    {% for location in day %}
                        <div class="training-location">
                            <div class="location-name">{{ location.name }}</div>

                            {% for training in location.trainingsploegen %}
                                <div class="training-entry">
                                    <div class="training-time">
                                        <span class="training-begin_time">{{ training.begin_time }}</span>
                                        {{- " - " -}}
                                        <span class="training-end_time">{{ training.end_time }}</span>
                                    </div>
                                    <ul class="training-teams">
                                        {% for teams in training.teams %}
                                            <li class="__team">
                                                {{ teams.team }}{% if not loop.last %},{% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if training.extra_info is not empty %}
                                        <div class="extra-info">
                                            {{ training.extra_info }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %} {# training in location.trainingsploegen #}
                        </div>
                    {% endfor %} {# location in day #}
                </div>
            {% endfor %} {# day in trainingstijden #}
        </div>
    {% endif %} {# toggle_trainings #}
