<div class="post entry-box entry-box__article entry-box__match-result">
    {% include 'match-results/partials/thumbnail.twig' %}
    <div class="article-body">
        {% include 'match-results/partials/title.twig' %}
    </div>
</div>