{#<div class="qi__toggle btn-flat">#}
    {#{{ strings.quick_info.toggle }}#}
{#</div>#}
<div class="qi__content">

    {% include 'quick-info/partials/trainingstijden.twig' %}

    {% include 'quick-info/partials/agenda.twig' %}
</div>