{% if post.get_field('labels') %}
    {% include 'article/partials/labels.twig' %}
{% endif %}
<h1 class="__title">
    {{ post.title }}
</h1>
{% if post.get_field('subtitle') %}
    <h2 class="__subtitle">
        {{ post.subtitle }}
    </h2>
{% endif %}
<div class="__byline">
    {% include 'article/partials/byline.twig' %}
</div>
<div class="__social-buttons">
    {% include 'article/partials/social.twig' %}
</div>