<div class="sponsors__section-title --basic-section-title">
    <h2>{{ strings.sponsors.section_title }}</h2>
</div>

<div class="__content">
    <div class="items-col __flex-item">
        <ul class="__items">
            {% for sponsor in sponsors|slice(0,5) %}
                <li class="item sponsor-item-box">
                    {% include 'views/sponsors/partials/sponsor-box.twig' %}
                </li>
            {% endfor %}
        </ul>
        <a class="all-sponsors-link" href="{{ site.link ~ strings.sponsors.all_link }} ">{{ strings.sponsors.all_link_text }}</a>
    </div>
    <div class="__call-to-action cta-col __flex-item">
        <div class="cta-content">
            <h3 class="cta-title">{{ strings.sponsors.cta_text }}</h3>
            <a href="{{ site.link ~ strings.sponsors.cta_link }}" class="sponsor-cta-btn btn-flat">
                {{ strings.sponsors.cta_btn }}
            </a>
        </div>
    </div>
</div>
