{% if p.preview|length > 200 %}
    <div class="excerpt">
        {{ p.preview.read_more("Lees meer") }}
    </div>

{% else %}
    <div class="excerpt">
        {{ p.preview.read_more("Lees meer") }}
    </div>
    <img src="{{ site.theme.link }}/assets/images/logo-nikantes.svg" class="__excerpt-too-small" alt="logo nikantes">
{% endif %}

