{% set primaryLabel = false %}
{% set primaryLabelArray = [] %}

{# Checks if there is a primary label set and adds it to an array #}
{% for label in p.get_field('labels') %}
    {% if label.primary %}
        {% set primaryLabel = true %}
        {% set primaryLabelArray = primaryLabelArray|merge([label.name]) %}
    {% endif %}
{% endfor %}



{% if primaryLabel == true %}
    <ul class="labels">
        <li class="label">
            <a href="#">
                {% for label in primaryLabelArray %}
                    {% if not loop.first %}
                        <span> | </span>
                    {% endif %}
                    <span>{{ label }}</span>
                {% endfor %}
            </a>
        </li>
    </ul>
{% endif %}