{% if p.thumbnail %}
    <a class="image-wrapper has-post-thumbnail"
       href="{{ post_link }}" {% if post_format != "default" %} target="_blank" {% endif %}>
        <img src="{{ p.thumbnail.src }}" alt=""
             class="thumbnail object-fit--{{ p.featured_img_fit }}">
    </a>
{% else %} {# fallback to default thumbnail for #}
    <a class="image-wrapper has-post-thumbnail"
       href="{{ post_link }}" {% if post_format != "default" %} target="_blank" {% endif %}>
        <img src="{{ site.theme.link ~ strings.default_thumbnail }}" alt="" class="thumbnail">
    </a>
{% endif %}