<h2 class="title">
    <a href="{{ post_link }}" {% if post_format != "default" %} target="_blank" {% endif %}>
        {% if p.title|length > 70 %}
            {{ p.title|slice(0,70) }}...
        {% else %}
            {{ p.title }}
        {% endif %}
    </a>
</h2>