<div class="river-news-column">
    <div class="page-h1-wrapper">
        <div class="h1-group-header">
            <h1 class="page-h1">{{ title }}</h1>
        </div>
    </div>
    {% if posts %}
        <div class="river__entries">
            {% for p in posts %}

                {# Sets the post_format in a var [default, link, attachment] #}
                {% set post_format = "default" %}
                {% if p.format == "link" %}
                    {% set post_format = "link" %}
                {% endif %}
                {% if p.format == "link" and p.get_field('attachment') != null and p.get_field('attachment') != false %}
                    {% set post_format = "attachment" %}
                {% endif %}

                {# Sets the post_link according to the post_format #}
                {% set post_link = p.link %}
                {% if post_format == "default" %}
                    {% set post_link = p.link %}
                {% elseif post_format == "link" %}
                    {% set post_link = p.link_url %}
                {% elseif post_format == "attachment" %}
                    {% set post_link = p.get_field('attachment').url %}
                {% else %}
                    {% set post_link = p.link %}
                {% endif %}

                <div class="post entry-box entry-box__article">
                    {% include 'river/partials/thumbnail.twig' %}
                    <div class="article-body">
                        {% include 'showcase/partials/title.twig' %}
                        {% include 'showcase/partials/byline.twig' %}
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <span>{{ strings.river.no_news }}</span>
    {% endif %}
</div>
<div class="river-sidebar">

</div>