{% for item in archives.items %}
    {% if not item.link %}
        <li><a href="{{ site.link ~ "/" ~ item.name }}">{{ item.name }}</a></li>
    {% else %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endif %}

    {% for child in item.children %}
        <li class="child"><a href="{{ child.link }}">{{ child.name }}</a></li>
    {% endfor %}
{% endfor %}