{% if p.thumbnail %}
    <a class="image-wrapper has-post-thumbnail"
       href="{{ post_link }}"
            {% if post_format != "default" %} target="_blank" {% endif %}>
        <img src="{{ p.thumbnail.src('medium') }}" alt="" class="thumbnail">
    </a>
{% else %} {# no thumbnail #}
    <a class="image-wrapper no-post-thumbnail"
       href="{{ post_link }}"
            {% if post_format != "default" %} target="_blank" {% endif %}>
        <div class="label">
            {% if p.get_field('labels') %}
                {{ p.get_field('labels')|first.name }}
            {% else %}
                {{ strings.river.no_label_label }}
            {% endif %}
        </div>
    </a>
{% endif %}