<div class="river-news-column">
    <div class="river__section-title --basic-section-title">
        <h2>{{ strings.river.section_title }}</h2>
    </div>
    {% if posts|length > 5 %}
        <div class="river__entries">
            {% include 'match-results/river-entrybox.twig' %} {# KORFBAL. entry-box #}

            {% for p in posts|slice(5,10) %}

                {# Sets the post_format in a var [default, link, attachment] #}
                {% set post_format = "default" %}
                {% if p.format == "link" %}
                    {% set post_format = "link" %}
                {% endif %}
                {% if p.format == "link" and p.get_field('attachment') != null and p.get_field('attachment') != false %}
                    {% set post_format = "attachment" %}
                {% endif %}

                {# Sets the post_link according to the post_format #}
                {% set post_link = p.link %}
                {% if post_format == "default" %}
                    {% set post_link = p.link %}
                {% elseif post_format == "link" %}
                    {% set post_link = p.link_url %}
                {% elseif post_format == "attachment" %}
                    {% set post_link = p.get_field('attachment').url %}
                {% else %}
                    {% set post_link = p.link %}
                {% endif %}

                <div class="post entry-box entry-box__article">
                    {% include 'river/partials/thumbnail.twig' %}
                    <div class="article-body">
                        {% include 'showcase/partials/title.twig' %}
                        {% include 'showcase/partials/byline.twig' %}
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <span>{{ strings.river.no_news }}</span>
    {% endif %}
</div>
<div class="river-sidebar">
    <div class="__entry --bol">
        <a href="{{ strings.river.sidebar.bol.link }}" target="_blank">
            <div class="textbox">
                <div class="__partner">{{ strings.river.sidebar.bol.partner_text }}</div>
                <div class="__title">{{ strings.river.sidebar.bol.title }}</div>
                <div class="__subtext">{{ strings.river.sidebar.bol.subtext }}</div>
            </div>
        </a>
    </div>
    <div class="__entry --sbb">
        <a href="https://www.s-bb.nl/" target="_blank" class="img_wrapper">
            <img src="{{ site.theme.link }}/assets/images/sbb-beeldmerk.png" alt="S-BB-beeldmerk" class="__img">
        </a>
    </div>
    <div class="__entry --blue">
        <a href="https://www.bluefotografie.nl/" target="_blank" class="img_wrapper">
            <img src="{{ site.theme.link }}/assets/images/spandoekbluefotografie.png" alt="bluefotografie"
                 class="__img">
        </a>
    </div>
</div>