<div class="preloader-wrap">
    <div class="percentage" id="precent"></div>
    <div class="loader">
        <div class="trackbar">
            <div class="loadbar"></div>
        </div>
    </div>
</div>