{% if mini_blokken %}
    <div class="mini-blokken-wrapper">
        <div class="_entries">
            {% for card in mini_blokken %}
                <a href="{{ card.url|default('#') }}" class="card" target="{% if card.url %}_blank{% else %}_self{% endif %}">
                    <div class="card-wrapper">
                        {% if card.image %}
                            <div class="-image">
                                <img src="{{ card.image.url }}" alt="" class="__image">
                            </div>
                        {% endif %}
                        <div class="-text">
                            <div class="--title">{% if card.title %} {{ card.title }} {% endif %}</div>
                            <div class="--text">{% if card.text %} {{ card.text }} {% endif %}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}