/*
Theme Name: Nikantes
Theme URI: http://nikantes.nl/themes/jordiholleman
Author: Jordi Holleman
Author URI: http://jordiholleman.nl
Description: Nikantes thema
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: none
Text Domain: jordiholleman
*/
/*--------------------------------------------------------------
  1. Imports
--------------------------------------------------------------*/

@import 'vendor/_slideout';

/*--------------------------------------------------------------
  2.  Sass functions
--------------------------------------------------------------*/

@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1)
}

// Add percentage of white to a color
@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent) {
  @return mix(black, $color, $percent);
}

/*--------------------------------------------------------------
  3. Globals
--------------------------------------------------------------*/

$break-ms: 720px;
$break-medium: 960px;
$break-large: 1160px;  // page-content break
$break-xl: 1440px;
$break-xxl: 1600px;

$theme-blue: #36bde2;
$theme-purple: #5c4bc4;
$theme-red: #ed1c24;
$theme-green: #00a651;
$theme-white: #ffffff;
$theme-gray: #888888;
$theme-anthracite: #1f1f1f;

$h-font-size: 0.9em;
$h-font-size-px: 14.4px;
$line-height: normal;
$line-height-pt: 1.25;


body {
  //noinspection CssUnknownTarget
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  &.admin-bar {
    margin-top: 0;

    #wpadminbar {
      top: -32px;
    }
  }
}

a {
  text-decoration: none;
  color: $theme-green;
}

*, :after, :before {
  box-sizing: border-box;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
  margin-bottom: .6rem;
}

.noscroll {
  position: fixed;
}

/*--------------------------------------------------------------
  Main styling
--------------------------------------------------------------*/

.panel-wrapper {
  background: $theme-white;
}

.content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .flex-section {
    flex: 0 0 100%;
  }
  .quick-info { order: 1 }
  .showcase-news { order: 2 }
  .mini-blokken { order: 3 }
  .pinned-content { order: 4 }
  .river-news { order: 5 }
  .sponsors { order: 6 }
  .social { order: 7 }

  @media only screen and (min-width: 950px) {
    .quick-info {
      order: 3 !important;
    }

    .showcase-news {
      order: 1 !important;
    }

    .mini-blokken {
      order: 2 !important;
    }
  }
}

.l-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.quick-info, .showcase-news, .river-news, .mini-blokken {
  padding: 2px;
}

.label {
  color: $theme-white;
  display: inline-block;
  list-style: none;
  padding: 5px 8px 4px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  a {
    display: inline;
    color: currentColor;
  }
}

.page-template-h1 {
  margin: 16px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  border-bottom: 6px solid $theme-green;
}

.btn-flat {
  border: 0;
  border-bottom: 2px solid;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.river-news {
  padding-top: 16px;
  max-width: $break-xl;
  margin: 50px auto;

  .river-sidebar {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;

    .__entry {
      width: 100%;
      flex-basis: 200px;
      max-height: 150px;

      .img_wrapper {
        height: auto;
        max-width: 100%;
        max-height: inherit;
        display: flex;
        justify-content: center;

        .__img {
          max-height: inherit;
          max-width: 100%;
          width: auto;
        }
      }

      @media only screen and (min-width: 880px) {
        flex-direction: column;
        flex-basis: unset;

        max-height: 200px;
        .img_wrapper .__img {
          max-height: 200px;
        }
      }
    }

    .--bol {
      background-color: #36c;
      color: $theme-white;
      padding: 10px;

      a {
        color: $theme-white;
      }

      .__title {
        font-size: 3.5em;
        font-weight: bold;
        font-family: Montserrat, "Helvetica Neue", sans-serif;
      }
      .__partner {
        color: #000000;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 1px;
      }
      .__subtext {
        font-size: 0.8em;
        font-style: italic;
      }
    }
  }

  .river__section-title {
    &:before {
      top: 12px;
      left: -16px;
    }
    &:after {
    top: 12px;
  }

    h2 {
      left: -16px;
      text-transform: uppercase;
      font-size: 1em;
    }
  }

  .page-h1-wrapper {
    margin: 0 auto;
    max-width: $break-large;

    .h1-group-header {
      border-bottom: 5px solid;
      border-color: tint($theme-gray, 50%);
      margin-bottom: 32px;
      margin-top: 16px;
      padding-bottom: 8px;
      text-align: center;

      .page-h1 {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        letter-spacing: normal;
        line-height: normal;
        font-size: calc(1em * 1.250 * 1.250 * 1.250);
      }
    }
  }

  .entry-box {
    min-height: 80px;
    padding: 8px 0;

    .image-wrapper {
      min-height: 80px;
      @media only screen and (min-width: 500px) {
        height: 100px;
      }
      @media only screen and (min-width: 750px) {
        height: 120px;
      }

      .thumbnail {
        min-height: 80px;
        @media only screen and (min-width: 500px) {
          height: 100px;
        }
        @media only screen and (min-width: 750px) {
          height: 120px;
        }
      }
    }

    &:first-child {
      border-top: 0;
      padding-top: 0;
      position: relative;
    }
  }
  @media only screen and (min-width: 750px) {
    .entry-box__article {
      max-height: 140px;
      .article-body {
        padding: 16px;

        .title {
          font-size: 1.1em;
          max-height: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 880px){
  .river-news {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 16px;
    padding: 16px 16px 0;

    .river-news-column {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      display: block;
      max-width: 980px;

      .river__entries{
        margin-right: 32px;
        .entry-box {
          padding: 0;
          margin-bottom: 8px;
        }
      }
    }

    .river-sidebar {
      width: auto;
      max-width: 30%;
    }
  }

  .archive-river {
    display: block;
  }
}

.quick-info {
  max-width: $break-xl;
  margin: 0 auto 4px;

  @media only screen and (min-width: 1100px) {
    margin-top: 32px;
  }

  .qi__toggle {
    background: $theme-green;
    color: $theme-white;
    border-color: shade($theme-green, 20%);
    -webkit-box-shadow: inset 0 -2px shade($theme-green, 20%);
    box-shadow: inset 0 -2px shade($theme-green, 20%);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 950px) {
      display: none;
    }
  }

  .qi__content {
    margin-top: 4px;
    padding: 4px;
    display: none;

    @media only screen and (min-width: 950px) {
      display: flex !important;

      .qi-box {
        flex-basis: calc(50% - 2px * 2);
      }
    }
  }

  .trainingstijden {
    margin-bottom: 10px;
  }
}

.--basic-section-title {
  //noinspection CssOverwrittenProperties
  position: relative;
  text-align: left;
  margin: 0 16px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid $theme-green;
    top: 22px;
  }

  &:after {
    left: 55%;
    top: 22px;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 15' xmlns='http://www.w3.org/2000/svg'><path d='M 15.681 12.75 L 0.431 -1.25 L 30.931 -1.25 L 15.681 12.75 Z' style='stroke:#{url-friendly-colour($theme-green)}; fill: #{url-friendly-colour($theme-white)}; stroke-width: 1px;'/></svg>");
    content: "";
    height: 15px;
    //noinspection CssOverwrittenProperties
    position: absolute;
    width: 29px;
  }

  h2 {
    color: $theme-green;
    position: relative;
    left: -14px;
    font-weight: 300;
    background-color: $theme-white;
    display: inline-block;
    padding: 0 16px;
    margin-bottom: 20px;
  }
}

.u-list-dot-sep {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;

    &::after {
      content: "\2022";
      display: inline-block;
      margin: 0 8px;
    }

    &:last-child::after {
      content: "";
      margin: 0;
    }
  }
}

/*--------------------------------------------------------------
  Partials
--------------------------------------------------------------*/

@import "partials/showcase-news";
@import "partials/entry-box";
@import "partials/navigation";
@import "partials/pinned-content";
@import "partials/sponsors";
@import "partials/single";
@import "partials/qi-training";
@import "partials/qi-agenda";
@import "partials/teams";
@import "partials/page";
@import "partials/author";
@import "partials/footer";
@import "partials/social";
@import "partials/gallery";
@import "partials/preload";
@import "partials/trainers";
@import "partials/contributie";
@import "partials/organisatie";
@import "partials/mini-blokken";