<div class="__content">
    <div class="--box beachevent bedrijvenevent">
        <a href="{{ strings.pinned_content.bedrijvenevent.link }}" target="_blank"
           title="Klik voor meer info over {{ strings.pinned_content.bedrijvenevent.title }}">
            <div class="__wrapper">
                <img class="__image" src="{{ site.theme.link }}{{ strings.pinned_content.bedrijvenevent.image|towebp }}"
                     alt="">
                <div class="overlay">
                    <h3 class="__title">{{ strings.pinned_content.bedrijvenevent.title }}</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="--box beachevent beachkorfbal">
        <a href="{{ strings.pinned_content.beachkorfbalevent.link }}" target="_blank"
           title="Klik voor meer info over {{ strings.pinned_content.beachkorfbalevent.title }}">
            <div class="__wrapper">
                <img class="__image"
                     src="{{ site.theme.link }}{{ strings.pinned_content.beachkorfbalevent.image|towebp }}"
                     alt="">
                <div class="overlay">
                    <h3 class="__title">{{ strings.pinned_content.beachkorfbalevent.title }}</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="--box beachevent2 jdb">
        <a href="{{ strings.pinned_content.jdb.link }}" target="_blank"
           title="Klik voor meer info over {{ strings.pinned_content.jdb.title }}">
            <div class="__wrapper">
                <img class="__image"
                     src="{{ site.theme.link }}{{ strings.pinned_content.jdb.image|towebp }}"
                     alt="">
                <div class="overlay">
                    <h3 class="__title">{{ strings.pinned_content.jdb.title }}</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="--box beachevent2 volley">
        <a href="{{ strings.pinned_content.volley.link }}" target="_blank"
           title="Klik voor meer info over {{ strings.pinned_content.volley.title }}">
            <div class="__wrapper">
                <img class="__image"
                     src="{{ site.theme.link }}{{ strings.pinned_content.volley.image|towebp }}"
                     alt="">
                <div class="overlay">
                    <h3 class="__title">{{ strings.pinned_content.volley.title }}</h3>
                </div>
            </div>
        </a>
    </div>

    <div class="--box kledingshop">
        <a href="{{ strings.pinned_content.kledingshop.link }}" target="_blank"
           title="Klik voor meer info over {{ strings.pinned_content.kledingshop.title }}">
            <div class="__wrapper">
                <img class="__image" src="{{ site.theme.link }}{{ strings.pinned_content.kledingshop.image|towebp }}"
                     alt="">
                <div class="overlay">
                    <h3 class="__title">{{ strings.pinned_content.kledingshop.title }}</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="--box beachsporten">
        <a href="{{ strings.pinned_content.beachsporten.link }}" target="_blank"
           title="Klik voor meer info over {{ strings.pinned_content.beachsporten.title }}">
            <div class="__wrapper">
                <img class="__image" src="{{ site.theme.link }}{{ strings.pinned_content.beachsporten.image|towebp }}"
                     alt="">
                <div class="overlay">
                    <h3 class="__title">{{ strings.pinned_content.beachsporten.title }}</h3>
                </div>
            </div>
        </a>
    </div>
</div>