@charset "UTF-8";
/*
Theme Name: Nikantes
Theme URI: http://nikantes.nl/themes/jordiholleman
Author: Jordi Holleman
Author URI: http://jordiholleman.nl
Description: Nikantes thema
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: none
Text Domain: jordiholleman
*/
/*--------------------------------------------------------------
  1. Imports
--------------------------------------------------------------*/
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.panel:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/*--------------------------------------------------------------
  2.  Sass functions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  3. Globals
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
body.admin-bar {
  margin-top: 0;
}
body.admin-bar #wpadminbar {
  top: -32px;
}

a {
  text-decoration: none;
  color: #00a651;
}

*, :after, :before {
  box-sizing: border-box;
  text-decoration: inherit;
  vertical-align: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
  margin-bottom: 0.6rem;
}

.noscroll {
  position: fixed;
}

/*--------------------------------------------------------------
  Main styling
--------------------------------------------------------------*/
.panel-wrapper {
  background: #ffffff;
}

.content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-wrapper .flex-section {
  flex: 0 0 100%;
}
.content-wrapper .quick-info {
  order: 1;
}
.content-wrapper .showcase-news {
  order: 2;
}
.content-wrapper .mini-blokken {
  order: 3;
}
.content-wrapper .pinned-content {
  order: 4;
}
.content-wrapper .river-news {
  order: 5;
}
.content-wrapper .sponsors {
  order: 6;
}
.content-wrapper .social {
  order: 7;
}
@media only screen and (min-width: 950px) {
  .content-wrapper .quick-info {
    order: 3 !important;
  }
  .content-wrapper .showcase-news {
    order: 1 !important;
  }
  .content-wrapper .mini-blokken {
    order: 2 !important;
  }
}

.l-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.quick-info, .showcase-news, .river-news, .mini-blokken {
  padding: 2px;
}

.label {
  color: #ffffff;
  display: inline-block;
  list-style: none;
  padding: 5px 8px 4px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.label a {
  display: inline;
  color: currentColor;
}

.page-template-h1 {
  margin: 16px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  border-bottom: 6px solid #00a651;
}

.btn-flat {
  border: 0;
  border-bottom: 2px solid;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn-flat:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.river-news {
  padding-top: 16px;
  max-width: 1440px;
  margin: 50px auto;
}
.river-news .river-sidebar {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
}
.river-news .river-sidebar .__entry {
  width: 100%;
  flex-basis: 200px;
  max-height: 150px;
}
.river-news .river-sidebar .__entry .img_wrapper {
  height: auto;
  max-width: 100%;
  max-height: inherit;
  display: flex;
  justify-content: center;
}
.river-news .river-sidebar .__entry .img_wrapper .__img {
  max-height: inherit;
  max-width: 100%;
  width: auto;
}
@media only screen and (min-width: 880px) {
  .river-news .river-sidebar .__entry {
    flex-direction: column;
    flex-basis: unset;
    max-height: 200px;
  }
  .river-news .river-sidebar .__entry .img_wrapper .__img {
    max-height: 200px;
  }
}
.river-news .river-sidebar .--bol {
  background-color: #36c;
  color: #ffffff;
  padding: 10px;
}
.river-news .river-sidebar .--bol a {
  color: #ffffff;
}
.river-news .river-sidebar .--bol .__title {
  font-size: 3.5em;
  font-weight: bold;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}
.river-news .river-sidebar .--bol .__partner {
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.river-news .river-sidebar .--bol .__subtext {
  font-size: 0.8em;
  font-style: italic;
}
.river-news .river__section-title:before {
  top: 12px;
  left: -16px;
}
.river-news .river__section-title:after {
  top: 12px;
}
.river-news .river__section-title h2 {
  left: -16px;
  text-transform: uppercase;
  font-size: 1em;
}
.river-news .page-h1-wrapper {
  margin: 0 auto;
  max-width: 1160px;
}
.river-news .page-h1-wrapper .h1-group-header {
  border-bottom: 5px solid;
  border-color: #c4c4c4;
  margin-bottom: 32px;
  margin-top: 16px;
  padding-bottom: 8px;
  text-align: center;
}
.river-news .page-h1-wrapper .h1-group-header .page-h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  letter-spacing: normal;
  line-height: normal;
  font-size: 1.953125em;
}
.river-news .entry-box {
  min-height: 80px;
  padding: 8px 0;
}
.river-news .entry-box .image-wrapper {
  min-height: 80px;
}
@media only screen and (min-width: 500px) {
  .river-news .entry-box .image-wrapper {
    height: 100px;
  }
}
@media only screen and (min-width: 750px) {
  .river-news .entry-box .image-wrapper {
    height: 120px;
  }
}
.river-news .entry-box .image-wrapper .thumbnail {
  min-height: 80px;
}
@media only screen and (min-width: 500px) {
  .river-news .entry-box .image-wrapper .thumbnail {
    height: 100px;
  }
}
@media only screen and (min-width: 750px) {
  .river-news .entry-box .image-wrapper .thumbnail {
    height: 120px;
  }
}
.river-news .entry-box:first-child {
  border-top: 0;
  padding-top: 0;
  position: relative;
}
@media only screen and (min-width: 750px) {
  .river-news .entry-box__article {
    max-height: 140px;
  }
  .river-news .entry-box__article .article-body {
    padding: 16px;
  }
  .river-news .entry-box__article .article-body .title {
    font-size: 1.1em;
    max-height: none;
  }
}

@media only screen and (min-width: 880px) {
  .river-news {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 16px;
    padding: 16px 16px 0;
  }
  .river-news .river-news-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: block;
    max-width: 980px;
  }
  .river-news .river-news-column .river__entries {
    margin-right: 32px;
  }
  .river-news .river-news-column .river__entries .entry-box {
    padding: 0;
    margin-bottom: 8px;
  }
  .river-news .river-sidebar {
    width: auto;
    max-width: 30%;
  }
  .archive-river {
    display: block;
  }
}
.quick-info {
  max-width: 1440px;
  margin: 0 auto 4px;
}
@media only screen and (min-width: 1100px) {
  .quick-info {
    margin-top: 32px;
  }
}
.quick-info .qi__toggle {
  background: #00a651;
  color: #ffffff;
  border-color: #008541;
  -webkit-box-shadow: inset 0 -2px #008541;
  box-shadow: inset 0 -2px #008541;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 950px) {
  .quick-info .qi__toggle {
    display: none;
  }
}
.quick-info .qi__content {
  margin-top: 4px;
  padding: 4px;
  display: none;
}
@media only screen and (min-width: 950px) {
  .quick-info .qi__content {
    display: flex !important;
  }
  .quick-info .qi__content .qi-box {
    flex-basis: calc(50% - 4px);
  }
}
.quick-info .trainingstijden {
  margin-bottom: 10px;
}

.--basic-section-title {
  position: relative;
  text-align: left;
  margin: 0 16px;
}
.--basic-section-title:before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid #00a651;
  top: 22px;
}
.--basic-section-title:after {
  left: 55%;
  top: 22px;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 15' xmlns='http://www.w3.org/2000/svg'><path d='M 15.681 12.75 L 0.431 -1.25 L 30.931 -1.25 L 15.681 12.75 Z' style='stroke:%2300a651; fill: %23ffffff; stroke-width: 1px;'/></svg>");
  content: "";
  height: 15px;
  position: absolute;
  width: 29px;
}
.--basic-section-title h2 {
  color: #00a651;
  position: relative;
  left: -14px;
  font-weight: 300;
  background-color: #ffffff;
  display: inline-block;
  padding: 0 16px;
  margin-bottom: 20px;
}

.u-list-dot-sep {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.u-list-dot-sep li {
  display: inline-block;
}
.u-list-dot-sep li::after {
  content: "•";
  display: inline-block;
  margin: 0 8px;
}
.u-list-dot-sep li:last-child::after {
  content: "";
  margin: 0;
}

/*--------------------------------------------------------------
  Partials
--------------------------------------------------------------*/
.showcase-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.showcase-news-content .entry-box {
  min-height: 80px;
}
.showcase-news-content .entry-box .image-wrapper {
  max-height: 64px;
  min-height: 60px;
}
.showcase-news-content .entry-box .image-wrapper .thumbnail {
  max-height: 64px;
  min-height: 60px;
}
.showcase-news-content .entry-box .article-body .excerpt {
  display: none;
}
.showcase-news-content .entry-box .article-body .__excerpt-too-small {
  display: none;
}
.showcase-news-content .entry-box:first-child {
  border-top: 0;
  padding-top: 0;
  position: relative;
  max-height: 200px;
}
.showcase-news-content .entry-box:first-child .image-wrapper {
  position: relative;
  max-height: 95%;
  display: block;
}
.showcase-news-content .entry-box:first-child .has-post-thumbnail {
  width: 50%;
}
.showcase-news-content .entry-box:first-child .has-post-thumbnail:before {
  display: block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-right-color: #ffffff;
  border-width: 0 30px 30px 0;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.showcase-news-content .entry-box:first-child .has-post-thumbnail:after {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.showcase-news-content .entry-box:first-child .has-post-thumbnail .thumbnail {
  height: 100%;
  width: 100%;
  max-height: none;
}
.showcase-news-content .entry-box:first-child .article-body {
  bottom: 8px;
  padding: 10px;
  z-index: 3;
  display: inline-block;
}

@media only screen and (min-width: 360px) {
  .showcase-news-content .entry-box {
    min-height: 80px;
  }
  .showcase-news-content .entry-box .image-wrapper {
    max-height: initial;
    min-height: 80px;
  }
  .showcase-news-content .entry-box .image-wrapper .thumbnail {
    max-height: initial;
    min-height: 80px;
  }
}
@media only screen and (min-width: 600px) {
  .showcase-news-content {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .showcase-news-content .entry-box {
    border: none;
    max-height: none;
    margin: 0 8px 16px;
    padding: 0;
    flex-basis: calc(50% - 16px);
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    display: block;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .showcase-news-content .entry-box:first-child {
    display: flex;
    flex-basis: 100%;
    position: relative;
    max-height: unset;
    min-height: 250px;
    height: 250px;
    padding: 0;
  }
  .showcase-news-content .entry-box:first-child .image-wrapper {
    width: 50%;
    height: 100%;
    max-height: unset;
  }
  .showcase-news-content .entry-box:first-child .article-body {
    width: 50%;
  }
  .showcase-news-content .entry-box:first-child .article-body .title {
    margin-top: 0;
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .showcase-news-content .entry-box:first-child .article-body .excerpt {
    display: initial;
  }
  .showcase-news-content .entry-box .image-wrapper {
    max-height: initial;
    width: 200px;
    height: 200px;
  }
  .showcase-news-content .entry-box .image-wrapper .thumbnail {
    max-height: 200px;
  }
  .showcase-news-content .entry-box .article-body {
    overflow: hidden;
    padding-bottom: 4px;
    width: 100%;
  }
  .showcase-news-content .entry-box .article-body .title {
    margin-top: 8px;
    font-size: 1.2em;
    max-height: unset;
  }
}
@media only screen and (min-width: 950px) {
  .showcase-news-content .entry-box {
    width: 30%;
    height: 75%;
    flex-basis: calc(25% - 32px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .showcase-news-content .entry-box:first-child {
    height: 100%;
    max-height: 350px;
    flex-basis: calc(75% - 8px);
  }
  .showcase-news-content .entry-box:first-child .image-wrapper {
    max-height: 450px;
    height: auto;
    max-width: 50%;
    width: auto;
  }
  .showcase-news-content .entry-box:first-child .image-wrapper .thumbnail {
    max-height: initial;
    max-width: 100%;
    height: 100%;
    width: auto;
  }
  .showcase-news-content .entry-box:first-child .article-body {
    margin: 0;
    position: relative;
  }
  .showcase-news-content .entry-box:first-child .article-body .title {
    font-size: 2.2em;
  }
  .showcase-news-content .entry-box:first-child .article-body .excerpt {
    font-size: 1.2em;
  }
  .showcase-news-content .entry-box:first-child .article-body .__excerpt-too-small {
    display: initial;
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0.3;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20%;
  }
  .showcase-news-content .entry-box .image-wrapper {
    width: auto;
    max-width: 50%;
    max-height: 450px;
  }
  .showcase-news-content .entry-box .image-wrapper .thumbnail {
    max-height: inherit;
  }
  .showcase-news-content .entry-box .article-body {
    margin: 8px 0;
  }
}
.entry-box {
  border-top: 1px solid #ccc;
  padding: 8px 0;
  -webkit-box-align: start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.entry-box__article {
  max-height: 120px;
}
.entry-box__article .image-wrapper {
  width: 30%;
}
.entry-box__article .image-wrapper .thumbnail {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  max-height: inherit;
  object-fit: cover;
  overflow: hidden;
}
.entry-box__article .article-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 8px;
  width: 70%;
}
.entry-box__article .article-body .labels {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.625em;
  letter-spacing: 0.09em;
  margin-bottom: 0.3rem;
  max-width: calc(100% - 32px);
  background-color: #008541;
  display: inline-block;
}
.entry-box__article .article-body .title {
  font-size: 0.9em;
  margin-bottom: 4px;
  max-height: 54px;
  line-height: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entry-box__article .article-body .title a {
  color: currentColor;
}
.entry-box__article .article-body .byline {
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  line-height: 1.25;
  font-size: 0.8em;
  color: #888888;
  max-height: 28px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entry-box__article .no-post-thumbnail {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
}
.entry-box__article .no-post-thumbnail .label {
  background: none;
  color: black;
  text-transform: capitalize;
  border-bottom: 3px solid #00a651;
  padding: 0 0 12px;
  font-size: 1em;
}

.entry-box__match-result {
  background-color: #e7b300;
  padding-bottom: 0 !important;
}
.entry-box__match-result .article-body {
  position: relative;
}
.entry-box__match-result .article-body .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 10px;
  max-width: 250px;
}
.entry-box__match-result .article-body .title:hover {
  color: #e7b300;
}
.entry-box__match-result .image-wrapper {
  background-color: black;
}
.entry-box__match-result .image-wrapper .label {
  color: #e7b300;
  border-color: white;
  border: none;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
@media only screen and (min-width: 350px) {
  .entry-box__match-result .image-wrapper .label {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 450px) {
  .entry-box__match-result .image-wrapper .label {
    font-size: 1.2rem;
  }
}
.entry-box__match-result .image-wrapper .label:hover {
  color: white;
}
.entry-box__match-result .image-wrapper .label:hover::after {
  color: #e7b300;
}
.entry-box__match-result .image-wrapper .label::after {
  content: ".";
  color: #fff;
}
@media only screen and (min-width: 750px) {
  .entry-box__match-result .article-body .title {
    max-width: 400px;
    font-size: 1.4em !important;
  }
  .entry-box__match-result .image-wrapper .label {
    font-size: 1.8rem;
  }
}

.header {
  width: 100%;
  color: #ffffff;
  margin-bottom: 2px;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
}
.header .contact-nav {
  display: none;
}
.header .top-row {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  max-width: 1440px;
}
.header .global-header-logo {
  position: relative;
  margin: 0 auto;
  height: 100%;
  max-height: 70px;
  text-align: center;
}
.header .global-header-logo .h1-title {
  max-height: inherit;
}
.header .global-header-logo .h1-title span {
  display: none;
}
.header .global-header-logo .h1-title .logo-img {
  max-height: inherit;
}
.header .nav-toggle-wrapper {
  position: absolute;
  flex-shrink: 0;
  height: 40px;
  cursor: pointer;
  z-index: 100;
  top: 2px;
  margin: 12px;
  width: 40px;
}
.header .nav-icon:after, .header .nav-icon:before, .header .nav-icon .nav-icon-middle-line {
  background-color: #fff;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .nav-mobile-open:before {
  transform: translateY(12px) rotate(135deg);
  -moz-transform: translateY(12px) rotate(135deg);
  -webkit-transform: translateY(12px) rotate(135deg);
}
.header .nav-mobile-open .nav-icon-middle-line {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.header .nav-mobile-open:after {
  transform: translateY(-12px) rotate(-135deg);
  -moz-transform: translateY(-12px) rotate(-135deg);
  -webkit-transform: translateY(-12px) rotate(-135deg);
}
.header .sportplus_logo {
  height: 50px;
  position: absolute;
  right: 12px;
  top: 5px;
}

.nav-mobile-open {
  left: 0;
  transition: all 0.6s ease;
}

.nav-mobile-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  display: none;
  transition: all 0.3s ease;
}

.nav-mobile-wrapper {
  display: none;
}
.nav-mobile-wrapper .nav-mobile-logo {
  position: relative;
  height: 150px;
  width: 100%;
  background: #e6e6e6;
}
.nav-mobile-wrapper .nav-mobile-logo .logo-img {
  height: inherit;
  width: inherit;
}

.nav-mobile {
  margin-top: 8px;
  position: relative;
  list-style: none;
}
.nav-mobile .cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.nav-mobile .cd-accordion-menu label, .nav-mobile .cd-accordion-menu a {
  position: relative;
  display: block;
}
.nav-mobile .cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.nav-mobile .cd-accordion-menu input[type=checkbox]:checked + label + ul,
.nav-mobile .cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.nav-mobile .submenu {
  list-style-type: none;
  background-color: rgba(179, 179, 179, 0.1);
}
.nav-mobile .submenu label, .nav-mobile .submenu a {
  padding-left: 20px;
}
.nav-mobile .submenu .submenu-label {
  text-transform: uppercase;
  text-decoration: underline;
}
.nav-mobile label, .nav-mobile a {
  padding: 10px;
}

.contact-nav {
  color: black;
  padding: 8px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.contact-nav .fab, .contact-nav .far, .contact-nav .fas {
  padding: 2px;
}
.contact-nav .__info-link {
  display: inline-block;
  padding: 4px;
}
.contact-nav .social-wrapper {
  display: none;
}

.nav-desktop {
  display: none;
}

.quick-nav {
  background-color: #00a651;
  height: 40px;
  padding: 25px;
  z-index: 6;
  width: 100%;
  border-top: 5px solid #ed1c24;
}
.quick-nav .quick-nav-link {
  color: currentColor;
}
.quick-nav .__items {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-basis: calc(33.3% - 3px);
}
.quick-nav .__items .__item {
  text-align: center;
  color: white;
  width: 120px;
}
.quick-nav .__items .__item i.fa {
  font-size: 1.1em;
}
.quick-nav .__items .__item .__title {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 950px) {
  .header {
    border-bottom: 4px solid #ed1c24;
    box-shadow: none;
    background-color: #00a651;
  }
  .quick-nav {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    min-height: 85px;
    height: auto;
  }
  .header .contact-nav {
    position: absolute;
    width: 100%;
    display: block;
    font-size: 0.8em;
    text-align: right;
    color: white;
    pointer-events: none;
    padding: 0;
  }
  .header .contact-nav .contact-nav-wrapper {
    max-width: 1440px;
    margin: 4px auto 0;
    padding: 4px 22px;
  }
  .header .contact-nav .social-wrapper {
    display: inline-block;
    margin-right: 10px;
  }
  .header .contact-nav .social-wrapper .__info-link {
    margin: 2px 0;
  }
  .header .contact-nav a {
    color: currentColor;
  }
  .header .contact-nav a:hover {
    color: black;
    text-decoration: underline dotted;
  }
  .header .contact-nav .fas, .header .contact-nav .far, .header .contact-nav .fab {
    padding-right: 4px;
  }
  .header .contact-nav .__info-link {
    pointer-events: auto;
    display: inline-block;
  }
  .header .top-row {
    display: flex;
    height: auto;
  }
  .header .nav-icon {
    display: none;
  }
  .header .global-header-logo {
    margin: 0 0 0 16px;
  }
  .header .sportplus_logo {
    position: initial;
    margin-top: 8px;
    margin-left: 4px;
    height: 60px;
  }
  .header .top-row {
    height: 85px;
  }
  .header .top-row .nav-desktop {
    display: initial;
    margin-left: 20px;
    font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-right: 10%;
  }
  .header .top-row .nav-desktop .nav-items {
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  .header .top-row .nav-desktop .nav-items .has-children .menu-item-link {
    pointer-events: none;
  }
  .header .top-row .nav-desktop .nav-items .parent-item {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 8px;
  }
  .header .top-row .nav-desktop .nav-items .parent-item:hover, .header .top-row .nav-desktop .nav-items .parent-item:active {
    background-color: white;
  }
  .header .top-row .nav-desktop .nav-items .parent-item:hover .menu-item-link, .header .top-row .nav-desktop .nav-items .parent-item:active .menu-item-link {
    color: #1f1f1f;
  }
  .header .top-row .nav-desktop .nav-items .parent-item:hover .submenu, .header .top-row .nav-desktop .nav-items .parent-item:active .submenu {
    visibility: visible;
    opacity: 1;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .menu-item-link {
    color: white;
    text-transform: uppercase;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu, .header .top-row .nav-desktop .nav-items .parent-item .category-items {
    list-style: none;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu {
    margin-left: -8px;
    padding: 16px;
    visibility: hidden;
    opacity: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: black;
    z-index: 6;
    background-color: white;
    border-bottom: 8px solid #00a651;
    box-shadow: 1px 13px 20px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .submenu-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 180px;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .item {
    padding: 2px;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-item-link {
    color: #1e1e1e;
    text-transform: none;
    display: block;
    padding: 1px 0;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    font-weight: normal;
    pointer-events: initial;
    max-width: 220px;
    text-decoration: underline;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-item-link:hover {
    color: #00a651;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-item-link:hover .__title::before {
    content: "-";
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-category {
    padding: 0 8px;
    margin: 0 10px 10px 0;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-category:last-of-type {
    margin-right: 0;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-category .menu-item-link {
    text-decoration: none;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-category .menu-item-link:hover {
    text-decoration: underline;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-category .__title {
    border-bottom: 4px solid #00a651;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  .header .top-row .nav-desktop .nav-items .parent-item .submenu .menu-category .category-items {
    margin: 8px 0 0 -4px;
  }
  .header .top-row .nav-desktop .nav-items .parent-item:nth-child(2) .submenu {
    position: absolute;
    top: 100%;
  }
}
.pinned-content {
  background-color: #f2f2f2;
  margin: 10px 0;
}
.pinned-content .__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}
.pinned-content .__content .--box {
  flex-basis: calc(100% - 4px);
  height: 150px;
}
.pinned-content .__content .--box:hover .__title {
  text-decoration: underline;
}
.pinned-content .__content .--box .__wrapper {
  overflow: hidden;
  text-align: center;
  position: relative;
  height: 100%;
}
.pinned-content .__content .--box .__wrapper .__image {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.pinned-content .__content .--box .__wrapper .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.pinned-content .__content .--box .__wrapper .overlay .__title {
  font-size: 1.2em;
  background-color: #00a651;
  padding: 8px;
  color: #ffffff;
}
.pinned-content .__content .--box.beachevent .__wrapper .overlay .__title {
  background-color: rgb(255, 205, 0);
  color: black;
}
.pinned-content .__content .--box.beachevent2 .__wrapper .overlay .__title {
  background-color: #ed1c24;
  color: #ffffff;
}

@media only screen and (min-width: 500px) {
  .pinned-content .__content .--box {
    flex-basis: calc(50% - 4px);
    height: 200px;
  }
}
@media only screen and (min-width: 1024px) {
  .pinned-content {
    max-width: 1440px;
    margin: 10px auto;
    background-color: transparent;
  }
  .pinned-content .__content .--box {
    height: 250px;
    padding: 8px;
  }
  .pinned-content .__content .--box .__wrapper .overlay .__title {
    font-size: 2rem;
  }
}
.sponsors {
  background-color: #f2f2f2;
  padding-top: 16px;
  margin-bottom: 16px;
}
.sponsors .sponsors__section-title:after {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 15' xmlns='http://www.w3.org/2000/svg'><path d='M 15.681 12.75 L 0.431 -1.25 L 30.931 -1.25 L 15.681 12.75 Z' style='stroke:%2300a651; fill: %23f2f2f2; stroke-width: 1px;'/></svg>");
}
.sponsors .sponsors__section-title h2 {
  background-color: #f2f2f2;
}
.sponsors .__content {
  padding: 4px 4px 0;
}
.sponsors .__content .__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sponsors .__content .__items .item {
  width: auto;
  padding: 4px;
  display: block;
  position: relative;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(33.333% - 6px);
  min-width: 160px;
  text-align: center;
}
.sponsors .__content .__items .item .sponsor-figure {
  max-width: 400px;
  margin: 0 auto;
}
.sponsors .__content .__items .item .sponsor-figure .sponsor-item-img {
  object-fit: cover;
  width: 100%;
  vertical-align: middle;
}
.sponsors .__content .__items .item .sponsor-figure .sponsor-item-img.has-descr {
  border: 3px solid #009549;
}
.sponsors .__content .__items .item .sponsor-figure .sponsor-descr {
  background-color: #009549;
  color: #ffffff;
  padding: 1px 4px 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sponsors .__content .all-sponsors-link {
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: underline;
}
.sponsors .__call-to-action {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #1aaf62;
}
.sponsors .__call-to-action .cta-title {
  display: block;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}
.sponsors .__call-to-action .sponsor-cta-btn {
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 10px;
  max-width: 320px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: block;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 -2px #cccccc;
  box-shadow: inset 0 -2px #cccccc;
  height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-sponsors .sponsors {
  background-color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .sponsors .__call-to-action {
    min-height: 200px;
  }
  .sponsors .__call-to-action .cta-title {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 950px) {
  .sponsors {
    padding-top: 0;
    margin-top: 20px;
  }
  .sponsors .sponsors__section-title {
    display: none;
  }
  .sponsors .__content {
    display: flex;
    padding: 0;
  }
  .sponsors .__content .__flex-item {
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 0;
  }
  .sponsors .__content .items-col {
    padding: 20px;
  }
  .sponsors .__content .__call-to-action {
    flex-basis: calc(40% - 4px);
    height: auto;
  }
  .sponsors .__content .__call-to-action .cta-title {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1400px) {
  .sponsors .__content .items-col {
    padding: 40px 40px 15px;
  }
}
.article-hero-wrapper {
  padding: 16px;
}

.article-content-wrapper {
  padding: 16px;
}

.article-single .article-hero {
  margin-bottom: 20px;
}
.article-single .article-hero .__labels {
  max-width: 90%;
  display: inline-block;
}
.article-single .article-hero .__labels .label {
  color: #00a651;
  border-bottom: 1px solid;
  border-color: currentColor;
  display: inline-block;
  margin: 4px 10px 4px 0;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.625em;
  letter-spacing: normal;
  z-index: 0;
  padding: 0;
  text-overflow: initial;
  overflow: initial;
  white-space: initial;
  vertical-align: middle;
}
.article-single .article-hero .__labels .label a {
  color: currentColor;
  display: block;
  padding: 2px 0;
  white-space: nowrap;
}
.article-single .article-hero .__title {
  position: relative;
  padding-top: 0.6rem;
  font-size: 1.953125em;
}
.article-single .article-hero .__subtitle {
  font-style: italic;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.24;
  text-transform: none;
  font-size: 1.45em;
  color: #888888;
}
.article-single .article-hero .__byline {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8em;
  color: #888888;
}
.article-single .article-hero .__byline .author {
  display: inline-block;
}
.article-single .article-hero .__social-buttons {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.09em;
  line-height: 0;
}
.article-single .article-hero .__social-buttons .share-btn {
  display: inline-block;
  padding: 8px;
  color: #ffffff;
  max-width: 100%;
  transition: color 0.1s, background-color 0.1s, fill 0.1s;
}
.article-single .article-hero .__social-buttons .share-btn .__icon {
  padding: 2px;
  vertical-align: middle;
}
.article-single .article-hero .__social-buttons .__facebook {
  background-color: #325a97;
}
.article-single .article-hero .__social-buttons .__facebook:hover {
  background-color: #254371;
}
.article-single .article-hero .__social-buttons .__twitter {
  background-color: #00aced;
}
.article-single .article-hero .__social-buttons .__twitter:hover {
  background-color: #0087ba;
}
.article-single .article-main .featured-image {
  width: 100%;
  margin: 0 0 32px;
  display: block;
}
.article-single .article-main .featured-image.preserve-size {
  width: fit-content;
}
.article-single .article-main .featured-image.preserve-size .__img {
  width: auto;
}
.article-single .article-main .featured-image .__img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
.article-single .article-main .featured-image .figcaption {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  color: #888888;
  padding: 8px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.article-single .article-main .featured-image .figcaption cite {
  display: inline;
  font-size: 0.75em;
}
.article-single .article-main .__content {
  font-weight: 400;
  font-size: 18px;
}
.article-single .article-main .__content p {
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .article-single .article-hero .__title {
    font-size: 3em;
  }
}
@media only screen and (min-width: 950px) {
  .article-single .article-main .featured-image .__img {
    max-height: 650px;
  }
  .article-single .article-main .__content .article-content-wrapper {
    margin-bottom: 70px;
  }
}
.trainingstijden-content {
  margin: 0 16px;
}
.trainingstijden-content .default-trainings {
  display: flex;
  flex-wrap: wrap;
}
.trainingstijden-content .default-trainings .training-day {
  padding: 2px;
  flex: 1 0 50%;
}
.trainingstijden-content .default-trainings .training-day .day-name {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.trainingstijden-content .default-trainings .training-location {
  margin-bottom: 10px;
}
.trainingstijden-content .default-trainings .training-location .location-name {
  color: #00a651;
  font-weight: 700;
}
.trainingstijden-content .default-trainings .training-teams {
  list-style: none;
  margin-bottom: -4px;
  display: inline-block;
}
.trainingstijden-content .default-trainings .training-teams .__team {
  display: inline-block;
  color: #007338;
  font-weight: bold;
}
.trainingstijden-content .default-trainings .training-entry {
  margin: 5px 0;
  padding: 2px 4px 2px 8px;
  font-size: 0.95em;
  border-left: 2px solid #00a651;
  background-color: #f2f2f2;
}
.trainingstijden-content .default-trainings .training-entry .training-time {
  display: inline-block;
  font-weight: bold;
  margin-right: 6px;
  font-size: 0.9em;
}
.trainingstijden-content .default-trainings .extra-info {
  color: #ed1c24;
  font-style: italic;
}
.trainingstijden-content .trainings-adjustments {
  margin-bottom: 10px;
  border: 2px solid #ed1c24;
}
.trainingstijden-content .trainings-adjustments .adjustments-title {
  font-size: 1.2em;
  color: #ffffff;
  background-color: #ed1c24;
  padding: 0 4px;
}
.trainingstijden-content .trainings-adjustments .adjustments-content {
  padding: 4px 8px;
}
.trainingstijden-content .trainings-adjustments .adjustments-content .__adjustment {
  padding: 4px 0;
  border-bottom: 1px dotted #00a651;
}
.trainingstijden-content .trainings-adjustments .adjustments-content .__adjustment .adjust-title {
  display: inline-block;
  color: #007338;
  font-weight: bold;
}
.trainingstijden-content .trainings-adjustments .adjustments-content .__adjustment .adjust-date {
  font-size: 0.9em;
  display: inline-block;
  font-weight: bold;
}
.trainingstijden-content .trainings-adjustments .adjustments-content .__adjustment .adjust-info {
  font-style: italic;
}

.agenda-content {
  margin: 0 16px;
}
.agenda-content .agenda-items .all-items-link {
  width: 100%;
  text-align: center;
  margin: 10px 0 20px;
  display: block;
}
.agenda-content .agenda-item {
  margin-bottom: 5px;
  padding-left: 8px;
  border-left: 2px solid #ed1c24;
}
.agenda-content .agenda-item:nth-child(even) {
  background-color: whitesmoke;
  border-left: 2px solid #00a651;
}
.agenda-content .agenda-item .__date {
  font-weight: bold;
  font-size: 0.9em;
}
.agenda-content .agenda-item .__time {
  color: #7b7b7b;
  font-size: 0.9em;
}
.agenda-content .agenda-item .__description {
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  .agenda-content .agenda-items {
    display: flex;
    flex-wrap: wrap;
  }
  .agenda-content .agenda-items .item-col {
    flex-basis: calc(50% - 4px);
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    display: block;
    position: relative;
  }
  .agenda-content .agenda-items .item-col-right {
    margin-left: 2px;
  }
}
.teams-overzicht {
  padding: 0 16px;
  /*----- Tabs -----*/
}
.teams-overzicht .team {
  display: block;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 4px;
}
.teams-overzicht .team .team-number {
  font-size: 2em;
}
.teams-overzicht .team .team-members {
  display: flex;
}
.teams-overzicht .team .team-members .player-list {
  width: 50%;
  list-style: none;
}
.teams-overzicht .team .team-members .gender {
  font-weight: bold;
}
.teams-overzicht .trainercoaches .__title {
  display: inline-block;
  font-weight: bold;
}
.teams-overzicht .trainercoaches .coach {
  font-style: italic;
}
.teams-overzicht .tabs-teams {
  width: 100%;
  display: inline-block;
}
.teams-overzicht .tabs-teams .tab-links li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}
.teams-overzicht .tabs-teams .tab-links a {
  padding: 2px 6px;
  display: inline-block;
  border-radius: 3px 3px 0 0;
  background: #00a651;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: all linear 0.15s;
}
.teams-overzicht .tabs-teams .tab-links a:hover {
  background: #ed1c24;
  text-decoration: none;
}
.teams-overzicht .tabs-teams .tab-links li.active a, .teams-overzicht .tabs-teams .tab-links li.active a:hover {
  background: #ed1c24;
  color: #ffffff;
}
.teams-overzicht .tabs-teams .tab-content {
  background: #fff;
}
.teams-overzicht .tabs-teams .tab-content .tab {
  display: none;
}
.teams-overzicht .tabs-teams .tab-content .tab.active {
  display: block;
}

@media only screen and (min-width: 450px) {
  .teams-overzicht .tabs-teams .tab-links a {
    padding: 6px 12px;
  }
}
@media only screen and (min-width: 600px) {
  .teams-overzicht {
    display: flex;
    flex-wrap: wrap;
  }
  .teams-overzicht .tabs-teams .tab-links a {
    padding: 10px 20px;
    font-size: 1.2em;
  }
  .team-division {
    flex-basis: calc(50% - 4px);
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media only screen and (min-width: 950px) {
  .team-division {
    flex-basis: calc(25% - 4px);
  }
}
.default-page {
  padding: 16px;
}
.default-page .page-h1-wrapper {
  margin: 0 auto;
  max-width: 1160px;
}
.default-page .page-h1-wrapper .h1-group-header {
  border-bottom: 5px solid;
  border-color: #c4c4c4;
  margin-bottom: 32px;
  margin-top: 16px;
  padding-bottom: 8px;
  text-align: center;
}
.default-page .page-h1-wrapper .h1-group-header .page-h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  letter-spacing: normal;
  line-height: normal;
  font-size: 1.953125em;
}
.default-page .page-body {
  font-weight: 400;
  font-size: 18px;
  max-width: 1160px;
  margin: 0 auto;
}
.default-page .page-body p {
  margin-bottom: 1.2rem;
}

.author-page {
  padding: 15px 20px;
}
.author-page .profile-info {
  margin: 15px 20px;
}
.author-page .profile-info .author-avatar {
  display: block;
  width: 38px;
  border: 1px solid #00a651;
}
.author-page .profile-info .author-name {
  font-size: 14px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  margin-bottom: 2px;
}
.author-page .profile-info .profile-info-meta {
  margin: 15px 0;
  list-style: none;
  font-size: 14px;
  color: #888888;
}
.author-page .profile-info .profile-info-meta li {
  height: 20px;
  line-height: 20px;
}
.author-page .profile-info .profile-info-meta em {
  color: black;
  font-style: italic;
  display: inline-block;
  font-weight: 400;
}
.author-page .profile-activity {
  margin: 15px 20px;
}
.author-page .profile-activity .profile-activity-tab {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #00a651;
  display: inline-block;
  border: solid #e6e6e6;
  border-width: 1px 1px 0 1px;
  background: whitesmoke;
  padding: 0 10px;
  margin: 0;
  height: 25px;
  line-height: 25px;
}
.author-page .profile-activity .profile-activities {
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
  padding: 10px;
  background: #fafafa;
}
.author-page .profile-activity .profile-activities .activity {
  margin-bottom: 10px;
}
.author-page .profile-activity .profile-activities .activity .__header {
  position: relative;
  zoom: 1;
  border-bottom: 1px solid #cccccc;
  height: 25px;
  line-height: 25px;
}
.author-page .profile-activity .profile-activities .activity .__header .__header-h6 {
  color: #00a651;
  position: relative;
  text-transform: uppercase;
  bottom: -10px;
  border-bottom: 2px solid #00a651;
  float: left;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
.author-page .profile-activity .profile-activities .activity .__header .__header-h6::before, .author-page .profile-activity .profile-activities .activity .__header .__header-h6::after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.author-page .profile-activity .profile-activities .activity .__header .__header-h6::after {
  clear: both;
}
.author-page .profile-activity .profile-activities .activity .activity-wrapper {
  font-size: 14px;
  padding: 10px 0;
}
.author-page .profile-activity .profile-activities .activity .activity-wrapper .__time-since {
  color: #888888;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 16px;
  height: 450px;
  position: relative;
}
.footer .footer-wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 1160px;
}
.footer .__section-logo {
  text-align: center;
  font-size: 0.75em;
  padding: 8px 16px;
}
.footer .__section-logo .__logo-link {
  color: #00a651;
  vertical-align: baseline;
  display: block;
  text-decoration: none;
}
.footer .__section-logo .__logo-link .logo-img, .footer .__section-logo .__logo-link svg {
  max-width: 200px;
  max-height: 120px;
  overflow: hidden;
}
.footer .__section-logo .__logo-link svg:not(:root) {
  overflow: hidden;
}
.footer .__section-logo .hidden-text {
  display: inline-block;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}
.footer .__section-links {
  margin-bottom: 16px;
  font-size: 0.9em;
  color: #00a651;
  padding: 8px 16px;
}
.footer .__section-links .u-list-dot-sep {
  margin: 0 0 8px;
  padding: 0;
  font-size: 14px;
}
.footer .__section-links .u-list-dot-sep li::after {
  color: #ffffff;
}
.footer .__section-location {
  margin-bottom: 24px;
}
.footer .__section-location h6 {
  color: #ffffff;
  font-size: 1.3em;
}
.footer .__section-location ul {
  color: #00a651;
  font-size: 14px;
  list-style: none;
}
.footer .__section-location .looking-for {
  font-weight: 400;
  margin-top: 16px;
  font-size: 14px;
}
.footer .__section-location .looking-for .sporthal-location {
  display: block;
  text-decoration: underline;
}
.footer .__section-copyright {
  padding: 16px 16px;
  background-color: #1a1a1a;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer .__section-copyright .c-line {
  font-size: 0.75em;
  max-width: 1160px;
  margin: 0 auto;
  text-align: left;
}

.social {
  padding-top: 16px;
}
.social .__content {
  padding: 0 16px;
  margin-bottom: 32px;
}
.social .__content .social-items {
  list-style: none;
}
.social .__content .social-items .__item {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 280px;
  margin: 8px auto;
}
.social .__content .social-items .__item a {
  text-decoration: none;
  color: black;
}
.social .__content .social-items .__item .social-icon {
  display: inline-block;
  width: 50px;
  text-align: center;
  color: #00a651;
}
.social .__content .social-items .__item .icon-description {
  display: inline-block;
  line-height: normal;
  margin-left: 8px;
  width: 200px;
}
.social .__content .social-items .__item .icon-description h3 {
  margin-bottom: 0;
}

@media only screen and (min-width: 950px) {
  .social .__content .social-items .__item {
    height: 100px;
    line-height: 100px;
    width: 400px;
  }
  .social .__content .social-items .__item .social-icon {
    font-size: 1.5em;
    width: 70px;
  }
  .social .__content .social-items .__item .icon-description {
    font-size: 1.5em;
    width: 280px;
  }
}
@media only screen and (max-width: 300px) {
  .social .__content .social-items .__item {
    width: 100%;
  }
  .social .__content .social-items .__item .icon-description {
    width: auto;
    font-size: 0.7em;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.gallery .gallery-item {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  position: relative;
  align-items: stretch;
  object-fit: cover;
  height: 125px;
  width: 125px;
  flex-basis: 125px;
  padding: 2px;
}

.gallery-medium .gallery-item {
  height: 200px;
  width: 200px;
  flex-basis: 200px;
}

.gallery-large .gallery-item {
  height: 350px;
  width: 350px;
  flex-basis: 350px;
}

.gallery-full .gallery-item {
  width: 100%;
  height: 100%;
  flex-basis: 100%;
}

.article-content-wrapper .gallery {
  margin-bottom: 1.2rem;
}

.fancybox-original-link {
  display: inline-block;
  float: right;
}

.trainers-content .entries .team {
  display: block;
  padding: 4px;
}
.trainers-content .entries .team .__teamname {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  background-color: #00a651;
  padding: 4px;
  margin-right: 10px;
}
.trainers-content .entries .team .trainers {
  display: inline-block;
}
.trainers-content .entries .team .trainers .trainer {
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px dotted #888888;
}
.trainers-content .entries .team .trainers .trainer:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 1000px) {
  .trainers-content .entries .team .__teamname {
    width: 150px;
    vertical-align: top;
  }
  .trainers-content .entries .team .trainers {
    width: 800px;
  }
  .trainers-content .entries .team .trainers .trainer {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
  }
  .trainers-content .entries .team .trainers .trainer .item {
    width: 200px;
    display: inline-block;
  }
}
.contributie-content .contributie-table {
  overflow: hidden;
}
.contributie-content .contributie-table table th, .contributie-content .contributie-table table td {
  padding: 4px;
  min-width: 150px;
}
.contributie-content .contributie-table table th {
  text-align: left;
  background-color: #00a651;
  color: white;
}
.contributie-content .contributie-table table tr td:first-child {
  text-align: right;
  padding-right: 8px;
}
.contributie-content .contributie-table table tr:hover {
  background-color: #cceddc;
}

.organisatie-content {
  padding: 4px;
}
.organisatie-content .org-team {
  margin-bottom: 20px;
}
.organisatie-content .org-team .title-row {
  background-color: #00a651;
  color: #ffffff;
  padding: 4px;
  position: relative;
}
.organisatie-content .org-team .title-row .__title {
  font-weight: bold;
  margin: 0 10px 0 0;
}
.organisatie-content .org-team .title-row .__email {
  color: black;
}
.organisatie-content .org-team .title-row .__email .--mailto {
  color: currentColor;
}
.organisatie-content .org-team .title-row .__email .--mailto:hover {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}
.organisatie-content .org-team .org-members {
  font-size: 0.85em;
}
.organisatie-content .org-team .org-members .member {
  background-color: #f2f2f2;
  margin-bottom: 4px;
  list-style: none;
}
.organisatie-content .org-team .org-members .member .--cell {
  padding: 4px;
}

@media only screen and (min-width: 500px) {
  .organisatie-content .org-team .org-members .member .--cell {
    width: 250px;
    display: inline-block;
    vertical-align: top;
  }
}
.mini-blokken {
  margin: 0 auto;
  max-width: 1440px;
}
.mini-blokken .mini-blokken-wrapper {
  padding: 0 12px;
}
.mini-blokken ._entries {
  display: flex;
  flex-wrap: wrap;
}
.mini-blokken .card {
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
}
@media only screen and (min-width: 950px) {
  .mini-blokken .card {
    flex-basis: 45%;
    flex-grow: 1;
    max-width: 50%;
  }
}
@media only screen and (min-width: 1440px) {
  .mini-blokken .card {
    flex-basis: 30%;
  }
}
.mini-blokken .card:hover {
  border-color: #00a651;
  transition: 0.3s;
}
.mini-blokken .card .card-wrapper {
  display: flex;
  color: #282828;
  text-decoration: none;
}
.mini-blokken .card .-image {
  width: 100px;
  height: 100px;
}
.mini-blokken .card .-image .__image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.mini-blokken .card .-text {
  margin-left: 10px;
  font-size: 12px;
  justify-self: center;
  align-self: center;
}
.mini-blokken .card .-text .--title {
  font-weight: bold;
}