<a href="{{ sponsor.url }}" target="_blank">
    <figure class="sponsor-figure">
        <img class="sponsor-item-img {% if sponsor.description %} has-descr{% endif %}"
             src="{{ TimberImage(sponsor.image).src }}"
             alt="{{ sponsor.alt|default('') }}">
        {% if sponsor.description %}
            <figcaption class="sponsor-descr">{{ sponsor.description }}</figcaption>
        {% endif %}
    </figure>
</a>