<div class="agenda qi-box">
    <div class="qi__section-title --basic-section-title">
        <h2>{{ strings.agenda.title }}</h2>
    </div>
    <div class="agenda-content">
        {% if agenda %}

        <div class="agenda-items">
            <div class="item-col">
                {% for item in agenda|slice(0,3) %}
                    {% include 'quick-info/partials/agenda-item.twig' %}
                {% endfor %}
            </div>
            <div class="item-col item-col-right">
                {% for item in agenda|slice(3,3) %}
                    {% include 'quick-info/partials/agenda-item.twig' %}
                {% endfor %}
            </div>
            <a href="{{ site.link }}/over-nikantes/jaarplanning" class="all-items-link">Volledige Jaarplanning</a>
        </div>
        {% endif %}
    </div>
</div>