<div class="agenda-item">
    <div class="__date">{{ item.date|date("d F, Y") }}</div>
    {% if item.date|date("H:i") != "00:00" %}
        <span class="__time">
                            <i class="fa fa-clock-o"></i>{{ " " }}
            {{- item.date|date("H:i") -}}
            {% if item.ending_time %}
                {{- " - " -}}
                {{- item.ending_time|date("H:i") -}}
            {% endif %}
                        </span>
    {% endif %}
    <div class="__title">{{ item.title }}</div>
    <div class="__description">{{ item.description }}</div>
</div>