{% if trainingstijden_options.adjustments_enabled == true %}
    {% set adjustments = trainingstijden_options.adjustments %}
    <div class="trainings-adjustments">
        <div class="adjustments-title">
            <i class="fa fa-exclamation-triangle"></i>
            {{ strings.trainingstijden.adjustments.title }}
        </div>
        <div class="adjustments-content">
            {% for adjust in adjustments %}
                <div class="__adjustment">
                    <div class="adjust-date">
                        {{ adjust.date }}
                    </div>
                    {{ "-" }}
                    <div class="adjust-title">{{ adjust.title }}</div>
                    <div class="adjust-info">
                        {{ adjust.extra_info }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}