{% if trainingstijden %}
    <div class="trainingstijden qi-box">
        <div class="qi__section-title --basic-section-title">
            <h2>{{ strings.trainingstijden.title }}</h2>
        </div>
        <div class="trainingstijden-content">
            {% include 'trainingstijden/trainingstijden.twig' %}
        </div>
    </div>
{% endif %} {# trainingstijden #}