{% if gallery %}
    <div class="gallery gallery-{{gallery_attr.columns}}-cols gallery-{{ gallery_attr.size }}">
        {#{{ dump(gallery) }}#}
        {% for item in gallery %}
            <a href="{{ TimberImage(item).src }}" class="fancybox" rel="gallery" title="{{ item.post_title }}">
                <img src="{{ TimberImage(item).src }}" alt="{{ item.post_title }}" class="gallery-item">
            </a>
        {% endfor %}
    </div>
{% endif %}