{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }} page-sponsors" id="post-{{ post.ID }}">
            <section class="article-content">
                <h1 class="page-h1 page-template-h1">{{ post.title }}</h1>
                <div class="article-body">

                    {% filter shortcodes %}
                        {{ post.content }}
                    {% endfilter %}

                    <div class="sponsors">
                        <div class="__content">
                            <ul class="__items">
                                {% for sponsor in sponsors %}
                                    <li class="item sponsor-item-box">
                                        {% include 'views/sponsors/partials/sponsor-box.twig' %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block head %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.title }}"/>
    <meta property="og:type" content="article"/>
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ post.link }}"/>
{% endblock %}