{% extends "base.twig" %}

{% block content %}
    <div class="page-wrapper l-wrapper">
        <article class="post-type-{{post.post_type}} page-trainers" id="post-{{post.ID}}">
            <section class="article-content">
                <h1 class="page-h1 page-template-h1">{{post.title}}</h1>
                <div class="article-body">
                    <div class="trainers-content">
                        <div class="entries">
                            {% for team in post.get_field('team') %}
                                <div class="team">
                                    <div class="__teamname">{{ team.teamname }}</div>
                                    <div class="trainers">
                                        {% for trainer in team.trainers %}
                                            <div class="trainer">
                                                <div class="__name item">{{ trainer.name }}</div>
                                                <div class="__phone item">{{ trainer.telephone }}</div>
                                                <div class="__email item">{{ trainer.email }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block head %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.title }}"/>
    <meta property="og:type" content="article"/>
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ post.link }}"/>
{% endblock %}