{% extends "base.twig" %}

{% block content %}
    <div class="page-wrapper l-wrapper">
        <article class="post-type-{{post.post_type}} page-teams" id="post-{{post.ID}}">
            <section class="article-content">
                <h1 class="page-h1 page-template-h1">{{post.title}}</h1>
                <div class="article-body">
                    {% include "teams/teams.twig" %}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}

{% block head %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.title }}"/>
    <meta property="og:type" content="article"/>
    {% if post.thumbnail %}
        <meta property="og:image" content="{{ post.thumbnail.src }}"/>
        <meta property="og:image:alt" content="{{ post.thumbnail.alt|default(post.thumbnail.title|default('')) }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.theme.link }}/assets/images/logo-nikantes.png"/>
        <meta property="og:image:alt" content="Logo {{ strings.club.name }}"/>
    {% endif %}
    <meta property="og:url" content="{{ post.link }}"/>
{% endblock %}

{% block scripts %}
    <script>
        jQuery(document).ready(function() {
            jQuery('.tabs-teams .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                jQuery('.tabs-teams ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });
    </script>
{% endblock %}