.author-page {
  padding: 15px 20px;

  .profile-info {
    margin: 15px 20px;

    .author-avatar {
      display: block;
      width: 38px;
      border: 1px solid $theme-green;
    }
    .author-name {
      font-size: 14px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 40px;
      margin-bottom: 2px;
    }
    .profile-info-meta {
      margin: 15px 0;
      list-style: none;
      font-size: 14px;
      color: $theme-gray;

      li {
        height: 20px;
        line-height: 20px;
      }

      em {
        color: black;
        font-style: italic;
        display: inline-block;
        font-weight: 400;
      }
    }
  }

  .profile-activity {
    margin: 15px 20px;

    .profile-activity-tab {
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: $theme-green;
      display: inline-block;
      border: solid shade($theme-white, 10%);
      border-width: 1px 1px 0 1px;
      background: shade($theme-white, 4%);
      padding: 0 10px;
      margin: 0;
      height: 25px;
      line-height: 25px;
    }

    .profile-activities {
      border: solid shade($theme-white, 6%);
      border-width: 0 1px 1px;
      padding: 10px;
      background: shade($theme-white, 2%);

      .activity {
        margin-bottom: 10px;

        .__header {
          position: relative;
          zoom: 1;
          border-bottom: 1px solid shade($theme-white, 20%);
          height: 25px;
          line-height: 25px;

          .__header-h6 {
            color: $theme-green;
            position: relative;
            text-transform: uppercase;
            bottom: -10px;
            border-bottom: 2px solid $theme-green;
            float: left;
            margin: 0;
            font-size: 12px;
            font-weight: normal;

            &::before, &::after {
              content: " ";
              display: block;
              height: 0;
              overflow: hidden;
            }

            &::after {
              clear: both;
            }
          }
        }

        .activity-wrapper {
          font-size: 14px;
          padding: 10px 0;

          .__time-since {
            color: $theme-gray;
          }
        }
      }
    }
  }
}