.contributie-content {

  .contributie-table {
    overflow: hidden;

    table {
      th, td {
        padding: 4px;
        min-width: 150px;
      }
      th {
        text-align: left;
        background-color: $theme-green;
        color: white;
      }
      tr {
        td:first-child {
          text-align: right;
          padding-right: 8px;
        }
        &:hover {
          background-color: tint($theme-green, 80%);
        }
      }
    }
  }
}