.entry-box {
  border-top: 1px solid #ccc;
  padding: 8px 0;
  -webkit-box-align: start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.entry-box__article {
  max-height: 120px;

  .image-wrapper {
    width: 30%;

    .thumbnail {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 1;
      max-height: inherit;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .article-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    //noinspection CssUnknownProperty
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 8px;
    width: 70%;

    .labels {
      font-family: Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      font-size: .625em;
      letter-spacing: .09em;
      margin-bottom: .3rem;
      max-width: calc(100% - 32px);
      background-color: shade($theme-green, 20%);
      display: inline-block;
    }

    .title {
      $lines-to-show: 3;
      font-size: 0.9em;
      margin-bottom: 4px;
      max-height: $h-font-size-px*$line-height-pt*$lines-to-show;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        color: currentColor;
      }
    }

    .byline {
      font-style: italic;
      font-weight: 400;
      letter-spacing: normal;
      text-transform: none;
      line-height: $line-height-pt;
      font-size: 0.8em;
      color: #888888;
      max-height: 28px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .no-post-thumbnail {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8px;

    .label {
      background: none;
      color: black;
      text-transform: capitalize;
      border-bottom: 3px solid $theme-green;
      padding: 0 0 12px;
      font-size: 1em;
    }
  }
}

.entry-box__match-result {
  background-color: #e7b300;
  padding-bottom: 0 !important;

  .article-body {
    position: relative;

    .title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
      padding: 10px;
      max-width: 250px;
      &:hover {
        //background-color: black;
        color: #e7b300;
      }
    }
  }
  .image-wrapper {
    background-color: black;
    .label {
      color: #e7b300;
      border-color: white;
      border: none;
      padding-bottom: 0;
      text-transform: uppercase;
      font-size: 0.8rem;
      @media only screen and (min-width: 350px) {
        font-size: 1rem;
      }
      @media only screen and (min-width: 450px) {
        font-size: 1.2rem;
      }
      font-weight: bold;
      &:hover {
        color: white;
        &::after {
          color: #e7b300;
        }
      }
      &::after {
        content:".";
        color: #fff;
      }
    }
  }

  @media only screen and (min-width: 750px){
    .article-body {
      .title {
        max-width: 400px;
        font-size: 1.4em !important;
      }
    }
    .image-wrapper {
      .label {
        font-size: 1.8rem;
      }
    }
  }
}