.footer {
  background-color: shade($theme-white, 88%);
  color: #fff;
  padding-top: 16px;
  height: 450px;
  position: relative;

  .footer-wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: $break-large;
  }

  .__section-logo {
    text-align: center;
    font-size: .75em;
    padding: 8px 16px;

    .__logo-link {
      color: $theme-green;
      vertical-align: baseline;
      display: block;
      text-decoration: none;

      .logo-img, svg {
        max-width: 200px;
        max-height: 120px;
        overflow: hidden;
      }

      svg:not(:root) {
        overflow: hidden;
      }
    }

    .hidden-text {
      display: inline-block;
      height: 0;
      width: 0;
      overflow: hidden;
      position: absolute;
    }
  }

  .__section-links {
    margin-bottom: 16px;
    font-size: 0.9em;
    color: $theme-green;
    padding: 8px 16px;

    .u-list-dot-sep {
      margin: 0 0 8px;
      padding: 0;
      font-size: 14px;

      li::after {
        color: $theme-white;
      }
    }
  }

  .__section-location {
    margin-bottom: 24px;

    h6 {
      color: $theme-white;
      font-size: 1.3em;
    }

    ul {
      color: $theme-green;
      font-size: 14px;
      list-style: none;
    }

    .looking-for {
      font-weight: 400;
      margin-top: 16px;
      font-size: 14px;

      .sporthal-location {
        display: block;
        text-decoration: underline;
      }
    }
  }

  .__section-copyright {
    padding: 16px 16px;
    background-color: shade($theme-white, 90%);
    width: 100%;
    position: absolute;
    bottom: 0;

    .c-line {
      font-size: 0.75em;
      max-width: $break-large;
      margin: 0 auto;
      text-align: left;
    }
  }
}