.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .gallery-item {
    flex-grow: 1;
    flex-shrink: 1;
    display: block;
    position: relative;
    align-items: stretch;
    object-fit: cover;
    height: 125px;
    width: 125px;
    flex-basis: 125px;
    padding: 2px;
  }
}

.gallery-medium .gallery-item {
  height: 200px;
  width: 200px;
  flex-basis: 200px;
}
.gallery-large .gallery-item {
  height: 350px;
  width: 350px;
  flex-basis: 350px;
}
.gallery-full .gallery-item {
  width: 100%;
  height: 100%;
  flex-basis: 100%;
}

.article-content-wrapper .gallery {
  margin-bottom: 1.2rem;
}

.fancybox-original-link {
  display: inline-block;
  float: right;
}