.mini-blokken {
  margin: 0 auto;
  max-width: $break-xl;

  .mini-blokken-wrapper {
    padding: 0 12px;
  }

  ._entries {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 6px;
    margin: 6px;
    @media only screen and (min-width: 950px) {
      flex-basis: 45%;
      flex-grow: 1;
      max-width: 50%;
    }
    @media only screen and (min-width: 1440px) {
      flex-basis: 30%;
    }

    &:hover {
      border-color: $theme-green;
      transition: 0.3s;
    }

    .card-wrapper {
      display: flex;
      color: #282828;
      text-decoration: none;
    }

    .-image {
      width: 100px;
      height: 100px;

      .__image {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    .-text {
      margin-left: 10px;
      font-size: 12px;
      justify-self: center;
      align-self: center;

      .--title {
        font-weight: bold;
      }
    }
  }
}