.header {
  width: 100%;
  color: $theme-white;
  margin-bottom: 2px;
  align-items: center;
  background-color: $theme-anthracite;
  position: relative;
  
  .contact-nav {
    display: none;
  }

  .top-row {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    max-width: $break-xl;
  }

  .global-header-logo {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-height: 70px;
    text-align: center;

    .h1-title {
      max-height: inherit;

      span {
        display: none;
      }

      .logo-img {
        max-height: inherit;
      }
    }
  }

  .nav-toggle-wrapper {
    position: absolute;
    flex-shrink: 0;
    height: 40px;
    cursor: pointer;
    z-index: 100;
    top: 2px;
    margin: 12px;
    width: 40px;
  }

  .nav-icon {
    &:after, &:before, .nav-icon-middle-line {
      background-color: #fff;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      content: '';
      display: block;
      height: 5px;
      margin: 7px 0;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
  }

  .nav-mobile-open {
    &:before {
      transform: translateY(12px) rotate(135deg);
      -moz-transform: translateY(12px) rotate(135deg);
      -webkit-transform: translateY(12px) rotate(135deg);
    }

    .nav-icon-middle-line {
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    &:after {
      transform: translateY(-12px) rotate(-135deg);
      -moz-transform: translateY(-12px) rotate(-135deg);
      -webkit-transform: translateY(-12px) rotate(-135deg);
    }
  }

  .sportplus_logo {
    height: 50px;
    position: absolute;
    right: 12px;
    top: 5px;
  }

}

.nav-mobile-open {
  left: 0;
  transition: all .6s ease;
}

.nav-mobile-overlay {
  background-color: rgba(#000, .5);
  z-index: 9;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  display: none;
  transition: all .3s ease;
}

.nav-mobile-wrapper {
  display: none;

  .nav-mobile-logo {
    position: relative;
    height: 150px;
    width: 100%;
    background: shade($theme-white, 10%);

    .logo-img {
      height: inherit;
      width: inherit;
    }
  }
}

.nav-mobile {
  margin-top: 8px;
  position: relative;
  list-style: none;

  .cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
  }

  .cd-accordion-menu label, .cd-accordion-menu a {
    position: relative;
    display: block;
  }

  .cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
  }

  .cd-accordion-menu input[type=checkbox]:checked + label + ul,
  .cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
  }

  .submenu {
    list-style-type: none;
    background-color: rgba(darken($theme-white, 30%), 0.1);

    label, a {
      padding-left: 20px;
    }

    .submenu-label {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  label, a {
    padding: 10px;
  }
}

.contact-nav {
  color: black;
  padding: 8px;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  .fab, .far, .fas {
    padding: 2px;
  }

  .__info-link {
    display: inline-block;
    padding: 4px;
  }

  .social-wrapper{
    display: none;
  }
}

.nav-desktop {
  display: none;
}

.quick-nav {
  background-color: $theme-green;
  height: 40px;
  padding: 25px;
  z-index: 6;
  width: 100%;
  border-top: 5px solid $theme-red;

  .quick-nav-link {
    color: currentColor;
  }

  .__items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-basis: calc(33.3% - 1px * 3);

    .__item {
      text-align: center;
      color: white;
      width: 120px;

      i.fa {
        font-size: 1.1em;
      }

      .__title {
        display: block;
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (min-width: 950px) {
  .header {
    border-bottom: 4px solid $theme-red;
    box-shadow: none;

    background-color: $theme-green; //#1e1e1e
    //background: -webkit-linear-gradient(right, darken($theme-green, 5%), lighten($theme-green, 5%));
    //background: -o-linear-gradient(right, darken($theme-green, 5%), lighten($theme-green, 5%));
    //background: -moz-linear-gradient(right, darken($theme-green, 5%), lighten($theme-green, 5%));
    //background: linear-gradient(right, darken($theme-green, 5%), lighten($theme-green, 5%));
  }
  .quick-nav {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    min-height: 85px;
    height: auto;

    .contact-nav {
      position: absolute;
      width: 100%;
      display: block;
      font-size: 0.8em;
      text-align: right;
      color: white;
      pointer-events: none;
      padding: 0;

      .contact-nav-wrapper {
        max-width: $break-xl;
        margin: 4px auto 0;
        padding: 4px 22px;
      }

      .social-wrapper{
        display: inline-block;
        margin-right: 10px;

        .__info-link {
          margin: 2px 0;
        }
      }

      a {
        color: currentColor;
        &:hover {
          color: black;
          text-decoration: underline dotted;
        }
      }

      .fas, .far, .fab {
        padding-right: 4px;
      }

      .__info-link {
        pointer-events: auto;
        display: inline-block;
      }
    }

    .top-row {
      display: flex;
      height: auto;
    }

    .nav-icon {
      display: none;
    }

    .global-header-logo {
      margin: 0 0 0 16px;
    }

    .sportplus_logo {
      position: initial;
      margin-top: 8px;
      margin-left: 4px;
      height: 60px;
    }

    .top-row {
      height: 85px;

      .nav-desktop {
        display: initial;
        margin-left: 20px;
        font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        width: 100%;
        margin-right: 10%;

        .nav-items {
          list-style: none;
          color: white;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          height: 100%;

          .has-children .menu-item-link {
            pointer-events: none;
          }

          .parent-item {
            display: flex;
            height: 100%;
            align-items: center;
            padding: 0 8px;

            &:hover, &:active {
              background-color: white;

              .menu-item-link {
                color: $theme-anthracite;
              }

              .submenu {
                visibility: visible;
                opacity: 1;
              }
            }

            .menu-item-link {
              color: white;
              text-transform: uppercase;
            }

            .submenu, .category-items {
              list-style: none;
            }

            .submenu {
              margin-left: -8px;
              padding: 16px;
              visibility: hidden;
              opacity: 0;
              visibility: hidden;
              opacity: 0;
              transition: all 0.1s ease;
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              color: black;
              z-index: 6;
              background-color: white;
              border-bottom: 8px solid $theme-green;
              box-shadow: 1px 13px 20px 0 rgba(0, 0, 0, 0.5);
              font-size: 16px;

              .submenu-wrapper {
                max-width: $break-xl;
                margin: 0 auto;
                padding-left: 180px;
              }

              .item {
                padding: 2px;
              }

              .menu-item-link {
                color: #1e1e1e;
                text-transform: none;
                display: block;
                padding: 1px 0;
                border: 1px solid transparent;
                border-bottom: 2px solid transparent;
                font-weight: normal;
                pointer-events: initial;
                max-width: 220px;
                text-decoration: underline;

                &:hover {
                  color: $theme-green;

                  .__title::before {
                    content: "-";
                  }
                }
              }

              .menu-category {
                padding: 0 8px;
                margin: 0 10px 10px 0;
                width: 100%;
                max-width: 200px;
                display: inline-block;
                vertical-align: top;

                &:last-of-type {
                  margin-right: 0;
                }

                .menu-item-link {
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .__title {
                  border-bottom: 4px solid $theme-green;
                  padding-bottom: 2px;
                  text-transform: uppercase;
                  font-size: 0.8em;
                  font-weight: bold;
                }

                .category-items {
                  margin: 8px 0 0 -4px;
                }
              }
            }

            &:nth-child(2) {
              .submenu {
                //display: block;
                position: absolute;
                top: 100%;
              }
            }
          }
        }
      }
    }
  }
}
