.organisatie-content {
  padding: 4px;

  .org-team {
    margin-bottom: 20px;

    .title-row {
      background-color: $theme-green;
      color: $theme-white;
      padding: 4px;
      position: relative;

      .__title {
        font-weight: bold;
        margin: 0 10px 0 0;
      }
      .__email {
        color: black;
        .--mailto {
          color: currentColor;
          &:hover {
            color: $theme-white;
            border-bottom: 1px dotted $theme-white;
          }
        }
      }
    }

    .org-members {
      font-size: 0.85em;

      .member {
        background-color: shade($theme-white, 5%);
        margin-bottom: 4px;
        list-style: none;

        .--cell {
          padding: 4px;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .organisatie-content {
    .org-team {
       .org-members {
         .member {
           .--cell {
             width: 250px;
             display: inline-block;
             vertical-align: top;
           }
         }
       }
    }
  }
}