.default-page {
  padding: 16px;


  .page-h1-wrapper {
    margin: 0 auto;
    max-width: $break-large;

    .h1-group-header {
      border-bottom: 5px solid;
      border-color: tint($theme-gray, 50%);
      margin-bottom: 32px;
      margin-top: 16px;
      padding-bottom: 8px;
      text-align: center;

      .page-h1 {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        letter-spacing: normal;
        line-height: normal;
        font-size: calc(1em * 1.250 * 1.250 * 1.250);
      }
    }
  }

  .page-body {
    font-weight: 400;
    font-size: 18px;
    max-width: $break-large;
    margin: 0 auto;

    p {
      margin-bottom: 1.2rem;
    }
  }
}