.pinned-content {
  background-color: darken($theme-white, 5%);
  margin: 10px 0;

  .__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;

    .--box {
      flex-basis: calc(100% - 2px * 2);
      height: 150px;
      &:hover {
        .__title {
          text-decoration: underline;
        }
      }

      .__wrapper {
        overflow: hidden;
        text-align: center;
        position: relative;
        height: 100%;

        .__image {
          height: 100%;
          width: 100%;
          vertical-align: middle;
          object-fit: cover;
          transition: transform .3s ease;
        }
        .overlay {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          color: white;
          text-align: center;
          background-color: rgba(#000, 0);

          .__title {
            font-size: 1.2em;
            background-color: rgba($theme-green, 1);
            padding: 8px;
            color: $theme-white;
          }
        }
      }

      &.beachevent {
        .__wrapper .overlay .__title {
          background-color: rgba(255, 205, 0, 1);
          color: black;
        }
      }

      &.beachevent2 {
        .__wrapper .overlay .__title {
          background-color: rgb($theme-red, 1);
          color: $theme-white;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .pinned-content {
    .__content {
      .--box {
        flex-basis: calc(50% - 2px * 2);
        height: 200px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .pinned-content {
    max-width: $break-xl;
    margin: 10px auto;
    background-color: transparent;
    .__content {
      .--box {
        height: 250px;
        padding: 8px;
      }
       .--box .__wrapper .overlay .__title {
         font-size: 2rem;
       }
    }
  }
}