.trainingstijden-content {
  margin: 0 16px;

  .default-trainings {
    display: flex;
    flex-wrap: wrap;

    .training-day {
      padding: 2px;
      flex: 1 0 50%;

      .day-name {
        font-size: 1.2em;
        margin-bottom: 5px;
      }
    }

    .training-location {
      margin-bottom: 10px;

      .location-name {
        color: darken($theme-green, 0%);
        font-weight: 700;
      }
    }

    .training-teams {
      list-style: none;
      margin-bottom: -4px;
      display: inline-block;

      .__team {
        display: inline-block;
        color: darken($theme-green, 10%);
        font-weight: bold;
      }
    }
    .training-entry {
      margin: 5px 0;
      padding: 2px 4px 2px 8px;
      font-size: 0.95em;
      border-left: 2px solid $theme-green;
      background-color: darken($theme-white, 5%);

      .training-time {
        display: inline-block;
        font-weight: bold;
        margin-right: 6px;
        font-size: 0.9em;
      }
    }

    .extra-info {
      color: $theme-red;
      font-style: italic;
    }
  }

  .trainings-adjustments {
    margin-bottom: 10px;
    border: 2px solid $theme-red;

    .adjustments-title {
      font-size: 1.2em;
      color: $theme-white;
      background-color: $theme-red;
      padding: 0 4px;
    }

    .adjustments-content {
      padding: 4px 8px;

      .__adjustment {
        padding: 4px 0;
        border-bottom: 1px dotted $theme-green;

        .adjust-title {
          display: inline-block;
          color: darken($theme-green, 10%);
          font-weight: bold;
        }

        .adjust-date {
          font-size: 0.9em;
          display: inline-block;
          font-weight: bold;
        }
        .adjust-info {
          font-style: italic;
        }
      }
    }
  }

}