.agenda-content {
  margin: 0 16px;

  .agenda-items {
    .all-items-link {
      width: 100%;
      text-align: center;
      margin: 10px 0 20px;
      display: block;
    }
  }
  .agenda-item {
    margin-bottom: 5px;
    padding-left: 8px;
    border-left: 2px solid $theme-red;

    &:nth-child(even){
      background-color: darken($theme-white, 4%);
      border-left: 2px solid $theme-green;
    }

    .__date {
      font-weight: bold;
      font-size: 0.9em;
    }
    .__time {
      color: darken($theme-gray, 5%);
      font-size: 0.9em;
    }
    .__description {
      font-style: italic;
    }
  }
}

@media only screen and (min-width: 600px) {
  .agenda-content {
    .agenda-items {
      display: flex;
      flex-wrap: wrap;

      .item-col {
        flex-basis: calc(50% - 2px * 2);
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 1;
        display: block;
        position: relative;
      }
      .item-col-right {
        margin-left: 2px;
      }
    }
  }
}