.showcase-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.showcase-news-content {
  .entry-box {
    min-height: 80px;

    .image-wrapper {
      max-height: 64px;
      min-height: 60px;
      .thumbnail {
        max-height: 64px;
        min-height: 60px;
      }
    }

    .article-body {
      .excerpt {
        display: none;
      }
      .__excerpt-too-small {
        display: none;
      }
    }

    &:first-child {
      border-top: 0;
      padding-top: 0;
      position: relative;
      max-height: 200px;

      .image-wrapper {
        position: relative;
        max-height: 95%;
        display: block;
      }

      .has-post-thumbnail {
        width: 50%;

        &:before {
          display: block;
          width: 0;
          height: 0;
          border: solid transparent;
          border-right-color: $theme-white;
          border-width: 0 30px 30px 0;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          z-index: 5;
        }
        &:after {
          //background-color: $theme-green; //#1e1e1e
          //background: -webkit-linear-gradient(45deg, darken($theme-green, 5%), #4b4e4c);
          //background: -o-linear-gradient(45deg, darken($theme-green, 5%), #4b4e4c);
          //background: -moz-linear-gradient(45deg, darken($theme-green, 5%), #4b4e4c);
          //background: linear-gradient(45deg, darken($theme-green, 5%), #4b4e4c);
          bottom: 0;
          content: "";
          left: 0;
          opacity: .5;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
        }
        .thumbnail {
          height: 100%;
          width: 100%;
          max-height: none;
        }
      }

      .article-body {
        bottom: 8px;
        padding: 10px;
        z-index: 3;
        display: inline-block;
      }
    }
  }
}

@media only screen and (min-width: 360px) {
  .showcase-news-content {
    .entry-box {
      min-height: 80px;

      .image-wrapper {
        max-height: initial;
        min-height: 80px;
        .thumbnail {
          max-height: initial;
          min-height: 80px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .showcase-news-content {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;

    .entry-box {
      border: none;
      max-height: none;
      margin: 0 8px 16px;
      padding: 0;
      flex-basis: calc(50% - 8px * 2);
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 1;
      display: block;
      position: relative;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);

      &:first-child {
        display: flex;
        flex-basis: 100%;
        position: relative;
        max-height: unset;
        min-height: 250px;
        height: 250px;
        padding: 0;


        .image-wrapper {
          width: 50%;
          height: 100%;
          max-height: unset;
        }

        .article-body {
          width: 50%;

          .title {
            margin-top: 0;
            font-size: 1.7em;
            text-transform: uppercase;
            text-decoration: underline;
          }

          .excerpt {
            display: initial;
          }
        }

      }

      .image-wrapper {
        max-height: initial;
        width: 200px;
        height: 200px;

        .thumbnail {
          max-height: 200px;
        }
      }

      .article-body {
        overflow: hidden;
        padding-bottom: 4px;
        width: 100%;

        .title {
          margin-top: 8px;
          font-size: 1.2em;
          max-height: unset;
        }

      }
    }
  }
}

@media only screen and (min-width: 950px) {
  .showcase-news-content {

    .entry-box {
      width: 30%;
      height: 75%;
      flex-basis: calc(25% - 8px * 4);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);

      &:first-child {
        height: 100%;
        max-height: 350px;
        flex-basis: calc(75% - 8px);


        .image-wrapper {
          max-height: 450px;
          height: auto;
          max-width: 50%;
          width: auto;

          .thumbnail {
            max-height: initial;
            max-width: 100%;
            height: 100%;
            width: auto;
          }

        }

        .article-body {
          margin: 0;
          position: relative;

          .title {
            font-size: 2.2em;
          }
          .excerpt {
            font-size: 1.2em;
          }
          .__excerpt-too-small {
            display: initial;
            position: absolute;
            width: 150px;
            height: 150px;
            opacity: 0.3;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 20%;
          }
        }
      }

      .image-wrapper {
        width: auto;
        max-width: 50%;
        max-height: 450px;

        .thumbnail {
          max-height: inherit;
        }
      }

      .article-body {
        margin: 8px 0;
      }
    }
  }
}