.article-hero-wrapper {
  padding: 16px;
}
.article-content-wrapper {
  padding: 16px;
}

.article-single {
  .article-hero {
    margin-bottom: 20px;

    .__labels {
      max-width: 90%;
      display: inline-block;

      .label {
        color: $theme-green;
        border-bottom: 1px solid;
        border-color: currentColor;
        display: inline-block;
        margin: 4px 10px 4px 0;
        position: relative;
        font-family: Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        font-size: .625em;
        letter-spacing: normal;
        z-index: 0;
        padding: 0;
        text-overflow: initial;
        overflow: initial;
        white-space: initial;
        vertical-align: middle;

        a {
          color: currentColor;
          display: block;
          padding: 2px 0;
          white-space: nowrap;
        }
      }
    }

    .__title {
      position: relative;
      padding-top: 0.6rem;
      font-size: calc(1em * 1.250 * 1.250 * 1.250);
    }
    .__subtitle {
      font-style: italic;
      font-family: Georgia, serif;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 1.24;
      text-transform: none;
      font-size: 1.45em;
      color: $theme-gray;
    }
    .__byline {
      font-family: Georgia, serif;
      font-style: italic;
      font-weight: 400;
      font-size: 0.8em;
      color: $theme-gray;

      .author {
        display: inline-block;
      }
    }
    .__social-buttons {
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: .09em;
      line-height: 0;

      .share-btn {
        display: inline-block;
        padding: 8px;
        color: $theme-white;
        max-width: 100%;
        transition: color .1s,background-color .1s,fill .1s;

        .__icon {
          padding: 2px;
          vertical-align: middle;
        }
      }
      .__facebook {
        background-color: #325a97;
        &:hover{
          background-color: darken(#325a97, 10%)
        }
      }
      .__twitter {
        background-color: #00aced;
        &:hover{
          background-color: darken(#00aced, 10%)
        }
      }

    }
  }
  .article-main {
    .featured-image {
      width: 100%;
      margin: 0 0 32px;
      display: block;

      &.preserve-size {
        width: fit-content;
        .__img {
          width: auto;
        }
      }

      .__img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
      }

      .figcaption {
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        color: $theme-gray;
        padding: 8px;
        display: block;
        width: 100%;
        border-bottom: 1px solid shade($theme-white, 20%);

        cite {
          display: inline;
          font-size: 0.75em;
        }
      }
    }

    .__content {
      font-weight: 400;
      font-size: 18px;

      p {
        margin-bottom: 1.2rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .article-single .article-hero .__title {
    font-size: 3em;
  }
}
@media only screen and (min-width: 950px) {
  .article-single .article-main  {
    .featured-image .__img {
      max-height: 650px;
    }
    .__content {
      .article-content-wrapper {
        margin-bottom: 70px;
      }
    }
  }
}