.social {
  padding-top: 16px;

  .__content {
    padding: 0 16px;
    margin-bottom: 32px;

    .social-items {
      list-style: none;

      .__item {
        height: 50px;
        line-height: 50px;
        position: relative;
        width: 280px;
        margin: 8px auto;

        a {
          text-decoration: none;
          color: black;
        }

        .social-icon {
          display: inline-block;
          width: 50px;
          text-align: center;
          color: $theme-green;
        }

        .icon-description {
          display: inline-block;
          line-height: normal;
          margin-left: 8px;
          width: 200px;

          h3 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 950px) {
  .social .__content {
    .social-items {
      .__item {
        height: 100px;
        line-height: 100px;
        width: 400px;

        .social-icon {
          font-size: 1.5em;
          width: 70px;
        }
        .icon-description {
          font-size: 1.5em;
          width: 280px;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .social .__content .social-items .__item {
    width: 100%;

    .icon-description {
      width: auto;
      font-size: 0.7em;
    }
  }
}