.sponsors {
  $sponsor-gray: shade($theme-white, 5%);
  background-color: $sponsor-gray;
  padding-top: 16px;
  margin-bottom: 16px;

  .sponsors__section-title {
    &:after {
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 15' xmlns='http://www.w3.org/2000/svg'><path d='M 15.681 12.75 L 0.431 -1.25 L 30.931 -1.25 L 15.681 12.75 Z' style='stroke:#{url-friendly-colour($theme-green)}; fill: #{url-friendly-colour($sponsor-gray)}; stroke-width: 1px;'/></svg>");
    }
    h2 {
      background-color: $sponsor-gray;
    }
  }

  .__content {
    padding: 4px 4px 0;

    .__items {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .item {
        width: auto;
        padding: 4px;
        display: block;
        position: relative;
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(33.333% - 2px * 3);
        min-width: 160px;
        text-align: center;

        .sponsor-figure {
          max-width: 400px;
          margin: 0 auto;

          .sponsor-item-img {
            object-fit: cover;
            width: 100%;
            vertical-align: middle;
          }
          .sponsor-item-img.has-descr{
            border: 3px solid shade($theme-green, 10%);
          }
          .sponsor-descr {
            background-color: shade($theme-green, 10%);
            color: $theme-white;
            padding: 1px 4px 4px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }

    .all-sponsors-link {
      display: block;
      margin: 10px auto;
      text-align: center;
      text-decoration: underline;
    }
  }

  .__call-to-action {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: tint($theme-green, 10%);
    //background: -webkit-linear-gradient(left, $theme-green, $theme-red);
    //background: -o-linear-gradient(left, $theme-green, $theme-red);
    //background: -moz-linear-gradient(left, $theme-green, $theme-red);
    //background: linear-gradient(left, $theme-green, $theme-red);

    .cta-title {
      display: block;
      color: $theme-white;
      font-size: 2em;
      text-align: center;
    }

    .sponsor-cta-btn {
      background-color: $theme-white;
      color: black;
      text-align: center;
      padding: 10px;
      max-width: 320px;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      display: block;
      border-color: shade($theme-white, 20%);
      -webkit-box-shadow: inset 0 -2px shade($theme-white, 20%);
      box-shadow: inset 0 -2px shade($theme-white, 20%);
      height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.page-sponsors {
  .sponsors {
    background-color: $theme-white;
  }
}

@media only screen and (min-width: 600px) {
  .sponsors {
    .__call-to-action {
      min-height: 200px;

      .cta-title {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (min-width: 950px) {
  .sponsors {
    padding-top: 0;
    margin-top: 20px;

    .sponsors__section-title {
      display: none;
    }

    .__content {
      display: flex;
      padding: 0;

      .__flex-item {
        flex-grow: 1;
        flex-basis: 50%;
        flex-shrink: 0;
      }

      .items-col {
        padding: 20px;
      }

      .__call-to-action {
        flex-basis: calc(40% - 2px * 2);
        height: auto;

        .cta-title {
          margin-bottom: 20px;
          font-size: 2.5em;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .sponsors {
    .__content {
      .items-col {
        padding: 40px 40px 15px;
      }
    }
  }
}

