.teams-overzicht {
  padding: 0 16px;

  .team {
    display: block;
    margin-bottom: 10px;
    background-color: shade($theme-white, 5%);
    padding: 4px;

    .team-number {
      font-size: 2em;
    }

    .team-members {
      display: flex;

      .player-list {
        width: 50%;
        list-style: none;
      }

      .gender {
        font-weight: bold;
      }
    }
  }

  .trainercoaches {
    .__title {
      display: inline-block;
      font-weight: bold;
    }
    .coach {
      font-style: italic;
    }
  }

  /*----- Tabs -----*/
  .tabs-teams {
    width:100%;
    display:inline-block;

    .tab-links {

      li {
        display: inline-block;
        list-style:none;
        text-transform: uppercase;
      }

      a {
        padding: 2px 6px;
        display: inline-block;
        border-radius: 3px 3px 0 0;
        background: $theme-green;
        font-size: 16px;
        font-weight: 600;
        color: $theme-white;
        transition: all linear 0.15s;

        &:hover {
          background: $theme-red;
          text-decoration:none;
        }
      }

      li.active a, li.active a:hover {
        background: $theme-red;
        color: $theme-white;
      }
    }

    .tab-content {
      background:#fff;

      .tab {
        display:none;
      }
      .tab.active {
        display:block;
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .teams-overzicht {
    .tabs-teams {
      .tab-links {
        a {
          padding: 6px 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .teams-overzicht {
    display: flex;
    flex-wrap: wrap;

    .tabs-teams {
      .tab-links {
        a {
          padding: 10px 20px;
          font-size: 1.2em;
        }
      }
    }
  }
  .team-division {
    flex-basis: calc(50% - 2px * 2);
    flex-grow: 1;
    flex-shrink: 1;
  }
}
@media only screen and (min-width: 950px) {
  .team-division {
    flex-basis: calc(25% - 2px *2 );
  }
}