.trainers-content {

  .entries {
    .team {
      display: block;
      padding: 4px;

      .__teamname {
        display: inline-block;
        width: 100%;
        font-weight: bold;
        color: $theme-white;
        background-color: $theme-green;
        padding: 4px;
        margin-right: 10px;
      }
      .trainers {
        display: inline-block;

        .trainer {
          display: block;
          padding-bottom: 4px;
          border-bottom: 1px dotted lighten($theme-gray, 0);
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .trainers-content {

    .entries {
      .team {

        .__teamname {
          width: 150px;
          vertical-align: top;
        }
        .trainers {
          width: 800px;

          .trainer {
            display: block;
            width: 100%;
            border: none;
            padding: 0;

            .item {
              width: 200px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
